<div class="cdr-label-wrapper__container">
  <label class="cdr-label-wrapper cdr-label-wrapper--primary cdr-label-wrapper--small">
    <input type="checkbox" />
    <span class="cdr-label-wrapper__figure"></span>
    <span class="cdr-label-wrapper__content">Small size</span>
  </label>
</div>
<div class="cdr-label-wrapper__container">
  <label class="cdr-label-wrapper cdr-label-wrapper--primary cdr-label-wrapper--medium">
    <input type="checkbox" />
    <span class="cdr-label-wrapper__figure"></span>
    <span class="cdr-label-wrapper__content">Medium size</span>
  </label>
</div>
<div class="cdr-label-wrapper__container">
  <label class="cdr-label-wrapper cdr-label-wrapper--primary cdr-label-wrapper--large">
    <input type="checkbox" />
    <span class="cdr-label-wrapper__figure"></span>
    <span class="cdr-label-wrapper__content">Large size</span>
  </label>
</div>
