<div class="c1-story-grid c1-story-gap-16 c1-story-max-72ch">
  <h1 class="cdr-heading-serif cdr-heading-serif--scale-5">Heading Serif 5</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--scale-4">Heading Serif 4</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--scale-3">Heading Serif 3</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--scale-2">Heading Serif 2</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--scale-1">Heading Serif 1</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--strong cdr-heading-serif--scale-5">Heading Serif 5</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--strong cdr-heading-serif--scale-4">Heading Serif 4</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--strong cdr-heading-serif--scale-3">Heading Serif 3</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--strong cdr-heading-serif--scale-2">Heading Serif 2</h1>
  <h1 class="cdr-heading-serif cdr-heading-serif--strong cdr-heading-serif--scale-1">Heading Serif 1</h1>
</div>
