<div class="c1-story-grid c1-story-gap-16 c1-story-max-72ch">
  <p class="cdr-utility-serif cdr-utility-serif--scale-3">Utility Serif 3</p>
  <p class="cdr-utility-serif cdr-utility-serif--scale-2">Utility Serif 2</p>
  <p class="cdr-utility-serif cdr-utility-serif--scale-1">Utility Serif 1</p>
  <p class="cdr-utility-serif cdr-utility-serif--scale-0">Utility Serif 0</p>
  <p class="cdr-utility-serif cdr-utility-serif--scale-minus-1">Utility Serif -1</p>
  <p class="cdr-utility-serif cdr-utility-serif--strong cdr-utility-serif--scale-3">Utility Serif 3</p>
  <p class="cdr-utility-serif cdr-utility-serif--strong cdr-utility-serif--scale-2">Utility Serif 2</p>
  <p class="cdr-utility-serif cdr-utility-serif--strong cdr-utility-serif--scale-1">Utility Serif 1</p>
  <p class="cdr-utility-serif cdr-utility-serif--strong cdr-utility-serif--scale-0">Utility Serif 0</p>
  <p class="cdr-utility-serif cdr-utility-serif--strong cdr-utility-serif--scale-minus-1">Utility Serif -1</p>
</div>
