node_modules/
.pnpm-store/
.DS_Store
.env
.env.*
/dist
/dist/
**/dist/
**/.turbo/
**/.cache/
**/.vite/
**/.expo/
**/coverage/
**/*.log
**/tsconfig.tsbuildinfo
**/tsconfig.*.tsbuildinfo
storybook-static/

# Editor
.vscode/
.idea/

# OS
Thumbs.db
