<div class="cdr-label-standalone">
  <div class="cdr-label-standalone__label-wrapper">
    <label class="cdr-label-standalone__label" for="label-standalone-required">
      Password <span aria-hidden="true">*</span>
    </label>
    <br />
    <span class="cdr-label-standalone__helper" id="label-standalone-required-help">
      Use at least 8 characters.
    </span>
  </div>
  <div class="cdr-label-standalone__input-wrap cdr-label-standalone__input-spacing">
    <input
      class="cdr-input cdr-input--primary"
      id="label-standalone-required"
      type="password"
      aria-describedby="label-standalone-required-help"
    />
  </div>
</div>
