<div style="color:#1f513f;">
  <div style="display:flex;gap:16px;flex-wrap:wrap;align-items:center">
    <svg
      aria-hidden="true"
      focusable="false"
      class="cdr-icon cdr-icon--inherit-color"
      width="24"
      height="24"
    >
      <use href="#account-profile" xlink:href="#account-profile"></use>
    </svg>
    <svg
      aria-hidden="true"
      focusable="false"
      class="cdr-icon cdr-icon--inherit-color"
      width="24"
      height="24"
    >
      <use href="#search" xlink:href="#search"></use>
    </svg>
  </div>
</div>
