<div style="display:flex;gap:16px;flex-wrap:wrap;align-items:center">
  <svg
    aria-hidden="true"
    focusable="false"
    class="cdr-icon cdr-icon--small"
    width="16"
    height="16"
  >
    <use href="#account-profile" xlink:href="#account-profile"></use>
  </svg>
  <svg
    aria-hidden="true"
    focusable="false"
    class="cdr-icon"
    width="24"
    height="24"
  >
    <use href="#account-profile" xlink:href="#account-profile"></use>
  </svg>
  <svg
    aria-hidden="true"
    focusable="false"
    class="cdr-icon cdr-icon--large"
    width="32"
    height="32"
  >
    <use href="#account-profile" xlink:href="#account-profile"></use>
  </svg>
</div>
