<div class="c1-story-grid c1-story-gap-16">
  <div class="c1-story-bg-sand-alt c1-story-pad-16">
    <div
      class="cdr-container cdr-container--static"
      class="c1-story-bg-white c1-story-border-soft"
    >
      <div class="c1-story-pad-16">
        <strong>static</strong> container content
      </div>
    </div>
  </div>
  <div class="c1-story-bg-sand-alt c1-story-pad-16">
    <div
      class="cdr-container cdr-container--fluid"
      class="c1-story-bg-white c1-story-border-soft"
    >
      <div class="c1-story-pad-16">
        <strong>fluid</strong> container content
      </div>
    </div>
  </div>
</div>
