<div class="cdr-label-standalone">
  <div class="cdr-label-standalone__label-wrapper">
    <label class="cdr-label-standalone__label" for="input-helper-top">
      Input label
    </label>
    <br />
    <span class="cdr-label-standalone__helper">Helper text above the field.</span>
  </div>
  <div class="cdr-label-standalone__input-wrap cdr-label-standalone__input-spacing">
    <div class="cdr-input-wrap">
      <input class="cdr-input cdr-input--primary" id="input-helper-top" type="text" />
    </div>
  </div>
</div>
