<div class="cdr-label-standalone">
  <div class="cdr-label-standalone__label-wrapper">
    <label class="cdr-label-standalone__label" for="input-post-icons">
      Input label
    </label>
  </div>
  <div class="cdr-label-standalone__input-wrap cdr-label-standalone__input-spacing">
    <div class="cdr-input-wrap">
      <input class="cdr-input cdr-input--primary cdr-input--posticons" id="input-post-icons" type="text" />
      <span class="cdr-input__post-icon">
        <button
          type="button"
          class="cdr-button cdr-button--primary cdr-button--icon-only cdr-input__button"
          aria-label="Clear input"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            class="cdr-icon cdr-icon--inherit-color"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="display:block;"
          >
            {{icon:information-stroke}}
          </svg>
        </button>
        <button
          type="button"
          class="cdr-button cdr-button--primary cdr-button--icon-only cdr-input__button"
          aria-label="More info"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            class="cdr-icon cdr-icon--inherit-color"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            style="display:block;"
          >
            {{icon:search}}
          </svg>
        </button>
      </span>
    </div>
  </div>
</div>
