<div class="cdr-label-standalone">
  <div class="cdr-label-standalone__label-wrapper">
    <label class="cdr-label-standalone__label" for="input-post-icons">
      Input label
    </label>
  </div>
  <div class="cdr-label-standalone__input-wrap cdr-label-standalone__input-spacing">
    <div class="cdr-input-wrap">
      <input class="cdr-input cdr-input--primary cdr-input--posticons" id="input-post-icons" type="text" />
      <span class="cdr-input__post-icon">
        <button
          type="button"
          class="cdr-button cdr-button--primary cdr-button--icon-only cdr-input__button"
          aria-label="Clear input"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            style="display:block;"
          >
            <path d="M12 2a10 10 0 1 0 10 10A10 10 0 0 0 12 2zm1 15h-2v-2h2zm0-4h-2V7h2z"></path>
          </svg>
        </button>
        <button
          type="button"
          class="cdr-button cdr-button--primary cdr-button--icon-only cdr-input__button"
          aria-label="More info"
        >
          <svg
            aria-hidden="true"
            focusable="false"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            width="24"
            height="24"
            style="display:block;"
          >
            <path d="M11 4a7 7 0 1 0 4.3 12.5l3.6 3.6 1.4-1.4-3.6-3.6A7 7 0 0 0 11 4zm0 2a5 5 0 1 1 0 10 5 5 0 0 1 0-10z"></path>
          </svg>
        </button>
      </span>
    </div>
  </div>
</div>
