<div class="cdr-label-standalone">
  <div class="cdr-label-standalone__label-wrapper">
    <label class="cdr-label-standalone__label" for="input-pre-icon">
      Input label
    </label>
  </div>
  <div class="cdr-label-standalone__input-wrap cdr-label-standalone__input-spacing">
    <div class="cdr-input-wrap">
      <input class="cdr-input cdr-input--primary cdr-input--preicon" id="input-pre-icon" type="text" />
      <span class="cdr-input__pre-icon">
        <svg
          aria-hidden="true"
          focusable="false"
          class="cdr-icon cdr-icon--inherit-color"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          class="c1-story-block"
        >
          {{icon:search}}
        </svg>
      </span>
    </div>
  </div>
</div>
