<div class="c1-story-bg-input-active c1-story-pad-16 c1-story-radius-12">
  <div class="cdr-label-standalone">
    <div class="cdr-label-standalone__label-wrapper">
      <label class="cdr-label-standalone__label" for="input-secondary">
        Input label
      </label>
    </div>
    <div class="cdr-label-standalone__input-wrap cdr-label-standalone__input-spacing">
      <div class="cdr-input-wrap">
        <input class="cdr-input cdr-input--secondary" id="input-secondary" type="text" />
      </div>
    </div>
  </div>
</div>
