<div class="c1-story-bg-dark c1-story-pad-16 c1-story-flex c1-story-gap-12 c1-story-wrap c1-story-align-center">
  <button type="button" class="cdr-button cdr-button--primary cdr-button--medium">
    Primary
  </button>
  <button type="button" class="cdr-button cdr-button--secondary cdr-button--medium">
    Secondary
  </button>
  <button type="button" class="cdr-button cdr-button--dark cdr-button--medium">
    Dark
  </button>
  <button type="button" class="cdr-button cdr-button--sale cdr-button--medium">
    Sale
  </button>
  <button type="button" class="cdr-button cdr-button--link cdr-button--medium">
    Link
  </button>
</div>
