<div class="c1-story-flex c1-story-gap-12 c1-story-wrap c1-story-align-center">
  <button type="button" class="cdr-button cdr-button--primary cdr-button--medium" disabled>
    Primary
  </button>
  <button type="button" class="cdr-button cdr-button--secondary cdr-button--medium" disabled>
    Secondary
  </button>
  <button type="button" class="cdr-button cdr-button--dark cdr-button--medium" disabled>
    Dark
  </button>
  <button type="button" class="cdr-button cdr-button--sale cdr-button--medium" disabled>
    Sale
  </button>
  <button type="button" class="cdr-button cdr-button--link cdr-button--medium" disabled>
    Link
  </button>
</div>
