<div class="c1-story-grid c1-story-gap-12 c1-story-cols-3 c1-story-align-center c1-story-justify-start">
  <button type="button" class="cdr-button cdr-button--primary cdr-button--small">
    primary / small
  </button>
  <button type="button" class="cdr-button cdr-button--secondary cdr-button--small">
    secondary / small
  </button>
  <button type="button" class="cdr-button cdr-button--dark cdr-button--small">
    dark / small
  </button>
  <button type="button" class="cdr-button cdr-button--sale cdr-button--small">
    sale / small
  </button>
  <button type="button" class="cdr-button cdr-button--link cdr-button--small">
    link / small
  </button>
  <button type="button" class="cdr-button cdr-button--primary cdr-button--medium">
    primary / medium
  </button>
  <button type="button" class="cdr-button cdr-button--secondary cdr-button--medium">
    secondary / medium
  </button>
  <button type="button" class="cdr-button cdr-button--dark cdr-button--medium">
    dark / medium
  </button>
  <button type="button" class="cdr-button cdr-button--sale cdr-button--medium">
    sale / medium
  </button>
  <button type="button" class="cdr-button cdr-button--link cdr-button--medium">
    link / medium
  </button>
  <button type="button" class="cdr-button cdr-button--primary cdr-button--large">
    primary / large
  </button>
  <button type="button" class="cdr-button cdr-button--secondary cdr-button--large">
    secondary / large
  </button>
  <button type="button" class="cdr-button cdr-button--dark cdr-button--large">
    dark / large
  </button>
  <button type="button" class="cdr-button cdr-button--sale cdr-button--large">
    sale / large
  </button>
  <button type="button" class="cdr-button cdr-button--link cdr-button--large">
    link / large
  </button>
</div>
