<ol class="cdr-list cdr-list--ordered">
  <li>Level 1 item</li>
  <li>
    Level 1 item with nested list
    <ol class="cdr-list">
      <li>Level 2 item</li>
      <li>
        Level 2 item with nested list
        <ol class="cdr-list">
          <li>Level 3 item</li>
          <li>
            Level 3 item with nested list
            <ol class="cdr-list">
              <li>Level 4 item</li>
              <li>Level 4 item</li>
            </ol>
          </li>
        </ol>
      </li>
    </ol>
  </li>
  <li>Level 1 item</li>
</ol>
