<div class="c1-story-flex c1-story-gap-16 c1-story-wrap c1-story-align-center">
  <a class="cdr-link cdr-link--standalone" href="#link">Standalone</a>
  <a class="cdr-link cdr-link--neutral" href="#link">Neutral</a>
  <a class="cdr-link cdr-link--standalone cdr-link--neutral" href="#link">
    Standalone neutral
  </a>
</div>
<div class="c1-story-text-forest c1-story-mt-8">
  <div class="c1-story-flex c1-story-gap-16 c1-story-wrap c1-story-align-center">
    <a class="cdr-link cdr-link--inherit-color" href="#link">Inherit color</a>
  </div>
</div>
