<div class="cdr-accordion-group">
  <div
    class="cdr-accordion cdr-accordion--compact"
    id="accordion-compact-1-accordion"
  >
    <h3 class="cdr-accordion__header">
      <button
        type="button"
        class="cdr-accordion__button js-cdr-accordion-button"
        id="accordion-compact-1"
        aria-expanded="true"
        aria-controls="accordion-compact-1-collapsible"
      >
        <span class="cdr-accordion__label" id="accordion-compact-1-label">
          Compact accordion
        </span>
        <span
          class="cdr-accordion__icon cdr-accordion--open"
          aria-hidden="true"
        >
          <svg
            class="cdr-icon cdr-icon--inherit-color"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
          >
            {{icon:caret-down}}
          </svg>
        </span>
      </button>
    </h3>
    <div class="cdr-accordion__content-container cdr-accordion--open">
      <div
        class="cdr-accordion__content cdr-accordion--open"
        id="accordion-compact-1-collapsible"
        aria-hidden="false"
      >
        <p class="cdr-text">
          Compact spacing reduces the visual footprint while keeping content
          accessible.
        </p>
      </div>
    </div>
  </div>

  <div
    class="cdr-accordion cdr-accordion--compact"
    id="accordion-compact-2-accordion"
  >
    <h3 class="cdr-accordion__header">
      <button
        type="button"
        class="cdr-accordion__button js-cdr-accordion-button"
        id="accordion-compact-2"
        aria-expanded="false"
        aria-controls="accordion-compact-2-collapsible"
      >
        <span class="cdr-accordion__label" id="accordion-compact-2-label">
          Compact with links
        </span>
        <span
          class="cdr-accordion__icon cdr-accordion--closed"
          aria-hidden="true"
        >
          <svg
            class="cdr-icon cdr-icon--inherit-color"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
          >
            {{icon:caret-down}}
          </svg>
        </span>
      </button>
    </h3>
    <div class="cdr-accordion__content-container cdr-accordion--closed">
      <div
        class="cdr-accordion__content cdr-accordion--closed"
        id="accordion-compact-2-collapsible"
        aria-hidden="true"
      >
        <ul class="cdr-list cdr-list--unordered">
          <li>
            <a class="cdr-link" href="https://www.rei.com/">REI.com</a>
          </li>
          <li>
            <a class="cdr-link" href="https://www.rei.com/h/adventure-projects">
              Adventure Projects
            </a>
          </li>
          <li>
            <a class="cdr-link" href="https://www.rei.com/stewardship">
              Stewardship
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
