<div class="cdr-accordion-group" data-unwrap="true">
  <div class="cdr-accordion" id="accordion-unwrapped-1-accordion">
    <h3 class="cdr-accordion__header">
      <button
        type="button"
        class="cdr-accordion__button js-cdr-accordion-button"
        id="accordion-unwrapped-1"
        aria-expanded="false"
        aria-controls="accordion-unwrapped-1-collapsible"
      >
        <span class="cdr-accordion__label" id="accordion-unwrapped-1-label">
          Unwrapped content
        </span>
        <span
          class="cdr-accordion__icon cdr-accordion--closed"
          aria-hidden="true"
        >
          <svg
            class="cdr-icon cdr-icon--inherit-color"
            viewBox="0 0 24 24"
            aria-hidden="true"
            focusable="false"
          >
            {{icon:caret-down}}
          </svg>
        </span>
      </button>
    </h3>
    <div class="cdr-accordion__content-container cdr-accordion--closed">
      <div
        class="cdr-accordion__content cdr-accordion--closed"
        id="accordion-unwrapped-1-collapsible"
        aria-hidden="true"
      >
        <p class="cdr-text">
          Unwrapped accordions keep content visible at selected breakpoints.
        </p>
      </div>
    </div>
  </div>
</div>
