<div style="display:grid;gap:16px;max-width:720px">
  <img
    class="cdr-image cdr-image--ratio-16-9 cdr-image--fit-cover"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Cover fit image"
  />
  <img
    class="cdr-image cdr-image--ratio-16-9 cdr-image--fit-contain"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Contain fit image"
  />
  <img
    class="cdr-image cdr-image--ratio-16-9 cdr-image--fit-none"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="None fit image"
  />
</div>
