<div class="c1-story-grid c1-story-gap-16 c1-story-max-720">
  <img
    class="cdr-image cdr-image--ratio-16-9 cdr-image--fit-cover cdr-image--position-center"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Centered image"
  />
  <img
    class="cdr-image cdr-image--ratio-16-9 cdr-image--fit-cover cdr-image--position-top"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Top aligned image"
  />
  <img
    class="cdr-image cdr-image--ratio-16-9 cdr-image--fit-cover cdr-image--position-bottom"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Bottom aligned image"
  />
</div>
