<div class="c1-story-grid c1-story-gap-16 c1-story-max-720">
  <img
    class="cdr-image cdr-image--radius-sharp"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Sharp radius image"
  />
  <img
    class="cdr-image cdr-image--radius-soft"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Soft radius image"
  />
  <img
    class="cdr-image cdr-image--radius-softer"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Softer radius image"
  />
  <img
    class="cdr-image cdr-image--radius-round"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Round radius image"
  />
</div>
