<div class="c1-story-grid c1-story-gap-16 c1-story-max-720">
  <img
    class="cdr-image cdr-image--ratio-1-1"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="Square image"
  />
  <img
    class="cdr-image cdr-image--ratio-1-2"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="1 by 2 image"
  />
  <img
    class="cdr-image cdr-image--ratio-3-4"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="3 by 4 image"
  />
  <img
    class="cdr-image cdr-image--ratio-9-16"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="9 by 16 image"
  />
  <img
    class="cdr-image cdr-image--ratio-2-1"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="2 by 1 image"
  />
  <img
    class="cdr-image cdr-image--ratio-4-3"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="4 by 3 image"
  />
  <img
    class="cdr-image cdr-image--ratio-16-9"
    src="https://cedar.rei.com/rei-passage-2-tent.jpg"
    alt="16 by 9 image"
  />
</div>
