<div class="cdr-form-error --active-error c1-story-flex c1-story-align-center c1-story-gap-4">
  <span
    class="cdr-form-error__icon c1-story-inline-flex c1-story-align-center c1-story-justify-center c1-story-h-20"
  >
    <svg
      aria-hidden="true"
      focusable="false"
      class="cdr-icon cdr-icon--inherit-color"
      width="20"
      height="20"
      viewBox="0 0 24 24"
    >
      {{icon:information-stroke}}
    </svg>
  </span>
  <div role="status" aria-atomic="true" aria-relevant="all">
    <div>Please enter a valid email address.</div>
  </div>
</div>
