<div class="cdr-form-error --active-error" style="display:flex;align-items:center;gap:4px;">
  <span
    class="cdr-form-error__icon"
    style="display:inline-flex;align-items:center;justify-content:center;height:20px;"
  >
    <svg
      aria-hidden="true"
      focusable="false"
      class="cdr-icon cdr-icon--inherit-color"
      width="20"
      height="20"
      viewBox="0 0 24 24"
    >
      {{icon:information-stroke}}
    </svg>
  </span>
  <div role="status" aria-atomic="true" aria-relevant="all">
    <div>Please enter a valid email address.</div>
  </div>
</div>
