.cdr-abstract {
  color: var(--cdr-text-color, var(--cdr-color-text-primary));
  margin: 0;
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    "Graphik fallback",
    "Helvetica Neue",
    sans-serif
  );
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0;
  font-size: 2.4rem;
  line-height: 3rem;
  font-size: var(--cdr-type-scale-1);
  line-height: var(--cdr-line-height-ratio-subheading-sans-1);
  max-width: 75ch;
  container-type: inline-size;
  container-name: cdr-abstract;
}

@container cdr-abstract (max-width: 720px) {
  .cdr-abstract {
    font-size: var(--cdr-type-scale-0);
    line-height: var(--cdr-line-height-ratio-subheading-sans-0);
  }
}
