@import '../../../../tokens/dist/web/breakpoints.css';

.cdr-button {
  font-family: var(--cdr-font-family-sans);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.008rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border: none;
  border-radius: var(--cdr-radius-softer);
  cursor: pointer;
  display: inline-flex;
  outline: none;
  overflow: visible;
  margin: 0;
  padding: var(--cdr-space-inset-one-x-squish);
  text-align: left;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  transition:
    box-shadow var(--cdr-duration-2-x) var(--cdr-timing-function-ease),
    background-color var(--cdr-duration-2-x) var(--cdr-timing-function-ease),
    color var(--cdr-duration-2-x) var(--cdr-timing-function-ease),
    fill var(--cdr-duration-2-x) var(--cdr-timing-function-ease);
}

.cdr-button:hover,
.cdr-button:active,
.cdr-button:focus {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}

.cdr-button[disabled] {
  cursor: not-allowed;
}

.cdr-button svg {
  align-self: center;
  fill: inherit;
}

.cdr-button.cdr-button--has-icon-left svg {
  margin-right: var(--cdr-space-quarter-x);
}

.cdr-button.cdr-button--has-icon-right svg {
  margin-left: var(--cdr-space-quarter-x);
}

.cdr-button--primary {
  background-color: var(
    --cdr-button-primary-background-color-rest,
    var(--cdr-color-background-button-primary-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(--cdr-button-primary-box-shadow-color-rest, var(--cdr-color-border-button-primary-rest));
  color: var(--cdr-button-primary-text-color, var(--cdr-color-text-button-primary));
  fill: var(--cdr-button-primary-fill-color, var(--cdr-color-text-button-primary));
}

.cdr-button--primary:hover,
.cdr-button--primary:focus {
  color: var(
    --cdr-button-primary-text-color-interaction,
    var(--cdr-color-text-button-primary-hover)
  );
  fill: var(
    --cdr-button-primary-fill-color-interaction,
    var(--cdr-color-text-button-primary-hover)
  );
  background-color: var(
    --cdr-button-primary-background-color-interaction,
    var(--cdr-color-background-button-primary-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-primary-box-shadow-color-interaction,
        var(--cdr-color-border-button-primary-hover)
      ),
    var(--cdr-prominence-raised);
}

.cdr-button--primary:active {
  color: var(
    --cdr-button-primary-text-color-active,
    var(--cdr-color-text-button-primary-active)
  );
  fill: var(
    --cdr-button-primary-fill-color-active,
    var(--cdr-color-text-button-primary-active)
  );
  background-color: var(
    --cdr-button-primary-background-color-active,
    var(--cdr-color-background-button-primary-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-primary-box-shadow-color-active,
        var(--cdr-color-border-button-primary-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-primary-box-shadow-color-active-inset,
        var(--cdr-color-border-button-primary-active-inset)
      );
}

.cdr-button--primary[disabled] {
  background-color: var(
    --cdr-button-primary-background-color-disabled,
    var(--cdr-color-background-button-default-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-primary-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  color: var(
    --cdr-button-primary-text-color-disabled,
    var(--cdr-color-text-button-primary-disabled)
  );
  fill: var(
    --cdr-button-primary-fill-color-disabled,
    var(--cdr-color-text-button-primary-disabled)
  );
}

.cdr-button--secondary {
  background-color: var(
    --cdr-button-secondary-background-color-rest,
    var(--cdr-color-background-button-secondary-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-secondary-box-shadow-color-rest,
      var(--cdr-color-border-button-secondary-rest)
    );
  color: var(--cdr-button-secondary-text-color, var(--cdr-color-text-button-secondary));
  fill: var(--cdr-button-secondary-fill-color, var(--cdr-color-icon-default));
}

.cdr-button--secondary:hover,
.cdr-button--secondary:focus {
  color: var(
    --cdr-button-secondary-text-color-interaction,
    var(--cdr-color-text-button-secondary-hover)
  );
  fill: var(
    --cdr-button-secondary-fill-color-interaction,
    var(--cdr-color-text-button-secondary-hover)
  );
  background-color: var(
    --cdr-button-secondary-background-color-interaction,
    var(--cdr-color-background-button-secondary-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-secondary-box-shadow-color-interaction,
        var(--cdr-color-border-button-secondary-hover)
      ),
    var(--cdr-prominence-raised);
}

.cdr-button--secondary:active {
  color: var(
    --cdr-button-secondary-text-color-active,
    var(--cdr-color-text-button-secondary-active)
  );
  fill: var(
    --cdr-button-secondary-fill-color-active,
    var(--cdr-color-text-button-secondary-active)
  );
  background-color: var(
    --cdr-button-secondary-background-color-active,
    var(--cdr-color-background-button-secondary-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-secondary-box-shadow-color-active,
        var(--cdr-color-border-button-secondary-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-secondary-border-color-active-inset,
        var(--cdr-color-border-button-secondary-active-inset)
      );
}

.cdr-button--secondary[disabled] {
  background-color: var(
    --cdr-button-secondary-background-color-disabled,
    var(--cdr-color-background-button-secondary-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-secondary-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  color: var(
    --cdr-button-secondary-text-color-disabled,
    var(--cdr-color-text-button-secondary-disabled)
  );
  fill: var(
    --cdr-button-secondary-fill-color-disabled,
    var(--cdr-color-text-button-secondary-disabled)
  );
}

.cdr-button--dark {
  background-color: var(
    --cdr-button-dark-background-color-rest,
    var(--cdr-color-background-button-dark-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(--cdr-button-dark-box-shadow-color-rest, var(--cdr-color-border-button-dark-rest));
  color: var(--cdr-button-dark-text-color, var(--cdr-color-text-button-dark));
  fill: var(--cdr-button-dark-fill-color, var(--cdr-color-text-button-dark));
}

.cdr-button--dark:hover,
.cdr-button--dark:focus {
  color: var(
    --cdr-button-dark-text-color-interaction,
    var(--cdr-color-text-button-dark-hover)
  );
  fill: var(
    --cdr-button-dark-fill-color-interaction,
    var(--cdr-color-text-button-dark-hover)
  );
  background-color: var(
    --cdr-button-dark-background-color-interaction,
    var(--cdr-color-background-button-dark-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-dark-box-shadow-color-interaction,
        var(--cdr-color-border-button-dark-hover)
      ),
    var(--cdr-prominence-raised);
}

.cdr-button--dark:active {
  color: var(
    --cdr-button-dark-text-color-active,
    var(--cdr-color-text-button-dark-active)
  );
  fill: var(
    --cdr-button-dark-fill-color-active,
    var(--cdr-color-text-button-dark-active)
  );
  background-color: var(
    --cdr-button-dark-background-color-active,
    var(--cdr-color-background-button-dark-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-dark-box-shadow-color-active,
        var(--cdr-color-border-button-dark-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-dark-box-shadow-color-active-inset,
        var(--cdr-color-border-button-dark-active-inset)
      );
}

.cdr-button--dark[disabled] {
  background-color: var(
    --cdr-button-dark-background-color-disabled,
    var(--cdr-color-background-button-default-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-dark-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  color: var(
    --cdr-button-dark-text-color-disabled,
    var(--cdr-color-text-button-dark-disabled)
  );
  fill: var(
    --cdr-button-dark-fill-color-disabled,
    var(--cdr-color-text-button-dark-disabled)
  );
}

.cdr-button--sale {
  background-color: var(
    --cdr-button-sale-background-color-rest,
    var(--cdr-color-background-button-sale-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(--cdr-button-sale-box-shadow-color-rest, var(--cdr-color-border-button-sale-rest));
  color: var(--cdr-button-sale-text-color, var(--cdr-color-text-button-sale));
  fill: var(--cdr-button-sale-fill-color, var(--cdr-color-text-button-sale));
}

.cdr-button--sale:hover,
.cdr-button--sale:focus {
  color: var(
    --cdr-button-sale-text-color-interaction,
    var(--cdr-color-text-button-sale-hover)
  );
  fill: var(
    --cdr-button-sale-fill-color-interaction,
    var(--cdr-color-text-button-sale-hover)
  );
  background-color: var(
    --cdr-button-sale-background-color-interaction,
    var(--cdr-color-background-button-sale-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-sale-box-shadow-color-interaction,
        var(--cdr-color-border-button-sale-hover)
      ),
    var(--cdr-prominence-raised);
}

.cdr-button--sale:active {
  color: var(
    --cdr-button-sale-text-color-active,
    var(--cdr-color-text-button-sale-active)
  );
  fill: var(
    --cdr-button-sale-fill-color-active,
    var(--cdr-color-text-button-sale-active)
  );
  background-color: var(
    --cdr-button-sale-background-color-active,
    var(--cdr-color-background-button-sale-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-sale-box-shadow-color-active,
        var(--cdr-color-border-button-sale-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-sale-box-shadow-color-active-inset,
        var(--cdr-color-border-button-sale-active-inset)
      );
}

.cdr-button--sale[disabled] {
  background-color: var(
    --cdr-button-sale-background-color-disabled,
    var(--cdr-color-background-button-default-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-sale-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  color: var(
    --cdr-button-sale-text-color-disabled,
    var(--cdr-color-text-button-sale-disabled)
  );
  fill: var(
    --cdr-button-sale-fill-color-disabled,
    var(--cdr-color-text-button-sale-disabled)
  );
}

.cdr-button--link {
  color: var(--cdr-button-link-text-color, var(--cdr-color-text-link-rest));
  fill: var(--cdr-button-link-fill-color, var(--cdr-color-text-link-rest));
  background-color: transparent;
  text-decoration: underline;
}

.cdr-button--link:active,
.cdr-button--link:focus {
  color: var(
    --cdr-button-link-text-color-active,
    var(--cdr-color-text-link-active)
  );
}

.cdr-button--link:hover {
  color: var(
    --cdr-button-link-text-color-hover,
    var(--cdr-color-text-link-hover)
  );
  text-decoration: none;
}

.cdr-button--link:focus {
  outline: var(--cdr-button-link-outline, var(--default-outline, 0.2rem solid Highlight));
  outline-color: -webkit-focus-ring-color;
  outline-offset: 0;
}

.cdr-button--small {
  font-family: var(--cdr-font-family-sans);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.008rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: var(--cdr-space-inset-three-quarter-x-squish);
  width: auto;
}

.cdr-button--small.cdr-button--has-icon-left {
  padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
}

.cdr-button--small.cdr-button--has-icon-right {
  padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
}

.cdr-button--small svg {
  width: 2rem;
  height: 2rem;
}

.cdr-button--medium {
  font-family: var(--cdr-font-family-sans);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.008rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: var(--cdr-space-inset-one-x-squish);
  width: auto;
}

.cdr-button--medium.cdr-button--has-icon-left {
  padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
}

.cdr-button--medium.cdr-button--has-icon-right {
  padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
}

.cdr-button--medium svg {
  width: var(--cdr-icon-size);
  height: var(--cdr-icon-size);
}

.cdr-button--large {
  font-family: var(--cdr-font-family-sans);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.008rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: var(--cdr-space-inset-one-and-a-half-x-squish);
  width: auto;
}

.cdr-button--large.cdr-button--has-icon-left {
  padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
}

.cdr-button--large.cdr-button--has-icon-right {
  padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
}

.cdr-button--large svg {
  width: var(--cdr-icon-size);
  height: var(--cdr-icon-size);
}

.cdr-button--icon-only {
  background: none;
  border: none;
  border-radius: var(--cdr-radius-soft);
  box-shadow: none;
  display: inline-block;
  line-height: normal;
  padding: var(--cdr-space-inset-half-x);
  fill: var(--cdr-button-icon-only-icon-fill, var(--cdr-color-icon-default));
}

.cdr-button--icon-only > svg {
  margin: 0;
}

.cdr-button--icon-only:hover {
  background: none;
  box-shadow: none;
  border: none;
  fill: var(--cdr-button-icon-only-icon-fill-hover, var(--cdr-color-icon-default));
}

.cdr-button--icon-only:active,
.cdr-button--icon-only:focus {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  fill: var(--cdr-button-icon-only-icon-fill-active, var(--cdr-color-icon-default));
}

.cdr-button--icon-only:active svg,
.cdr-button--icon-only:focus svg {
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-icon-only-icon-svg-box-shadow,
      var(--cdr-color-border-button-secondary-active)
    );
}

.cdr-button--icon-only[disabled] {
  background: transparent;
  box-shadow: none;
  border: none;
  fill: var(
    --cdr-button-icon-only-disabled-icon-fill,
    var(--cdr-color-icon-disabled)
  );
}

.cdr-button--icon-only-large {
  padding: var(--cdr-space-three-quarter-x);
}

.cdr-button--with-background {
  border-radius: 50%;
  fill: var(--cdr-button-with-background-icon-fill, var(--cdr-color-icon-default));
  background-color: var(
    --cdr-button-with-background-background-color,
    var(--cdr-color-background-button-secondary-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-with-background-box-shadow,
      var(--cdr-color-border-button-secondary-rest)
    );
}

.cdr-button--with-background:hover,
.cdr-button--with-background:focus {
  fill: var(
    --cdr-button-with-background-icon-fill-interaction,
    var(--cdr-color-icon-default)
  );
  background-color: var(
    --cdr-button-with-background-background-color-interaction,
    var(--cdr-color-background-button-secondary-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-with-background-box-shadow-interaction,
        var(--cdr-color-border-button-secondary-hover)
      ),
    var(--cdr-prominence-raised);
}

.cdr-button--with-background:hover svg,
.cdr-button--with-background:focus svg {
  box-shadow: none;
}

.cdr-button--with-background:active {
  color: var(
    --cdr-button-with-background-color-active,
    var(--cdr-color-text-button-secondary-active)
  );
  fill: var(
    --cdr-button-with-background-fill-active,
    var(--cdr-color-text-button-secondary-active)
  );
  background-color: var(
    --cdr-button-with-background-background-color-active,
    var(--cdr-color-background-button-secondary-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-with-background-box-shadow-active,
        var(--cdr-color-border-button-secondary-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-with-background-box-shadow-inset-active,
        var(--cdr-color-border-button-secondary-active-inset)
      );
}

.cdr-button--with-background:active svg {
  box-shadow: none;
}

.cdr-button--with-background[disabled] {
  background-color: var(
    --cdr-button-with-background-background-color-disabled,
    var(--cdr-color-background-button-secondary-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-with-background-box-shadow-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  fill: var(
    --cdr-button-with-background-fill-disabled,
    var(--cdr-color-text-button-secondary-disabled)
  );
}

.cdr-button--full-width {
  width: 100% !important;
  justify-content: center;
}

@media (--cdr-xs) {
  .cdr-button--small\@xs {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: var(--cdr-space-inset-three-quarter-x-squish);
    width: auto;
  }

  .cdr-button--small\@xs.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--small\@xs.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--small\@xs svg {
    width: 2rem;
    height: 2rem;
  }

  .cdr-button--medium\@xs {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-x-squish);
    width: auto;
  }

  .cdr-button--medium\@xs.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--medium\@xs.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--medium\@xs svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  .cdr-button--large\@xs {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-and-a-half-x-squish);
    width: auto;
  }

  .cdr-button--large\@xs.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--large\@xs.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--large\@xs svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  .cdr-button--full-width\@xs {
    width: 100% !important;
    justify-content: center;
  }
}

@media (--cdr-sm) {
  .cdr-button--small\@sm {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: var(--cdr-space-inset-three-quarter-x-squish);
    width: auto;
  }

  .cdr-button--small\@sm.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--small\@sm.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--small\@sm svg {
    width: 2rem;
    height: 2rem;
  }

  .cdr-button--medium\@sm {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-x-squish);
    width: auto;
  }

  .cdr-button--medium\@sm.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--medium\@sm.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--medium\@sm svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  .cdr-button--large\@sm {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-and-a-half-x-squish);
    width: auto;
  }

  .cdr-button--large\@sm.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--large\@sm.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--large\@sm svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  .cdr-button--full-width\@sm {
    width: 100% !important;
    justify-content: center;
  }
}

@media (--cdr-md) {
  .cdr-button--small\@md {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: var(--cdr-space-inset-three-quarter-x-squish);
    width: auto;
  }

  .cdr-button--small\@md.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--small\@md.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--small\@md svg {
    width: 2rem;
    height: 2rem;
  }

  .cdr-button--medium\@md {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-x-squish);
    width: auto;
  }

  .cdr-button--medium\@md.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--medium\@md.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--medium\@md svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  .cdr-button--large\@md {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-and-a-half-x-squish);
    width: auto;
  }

  .cdr-button--large\@md.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--large\@md.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--large\@md svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  .cdr-button--full-width\@md {
    width: 100% !important;
    justify-content: center;
  }
}

@media (--cdr-lg) {
  .cdr-button--small\@lg {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: var(--cdr-space-inset-three-quarter-x-squish);
    width: auto;
  }

  .cdr-button--small\@lg.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--small\@lg.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--small\@lg svg {
    width: 2rem;
    height: 2rem;
  }

  .cdr-button--medium\@lg {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-x-squish);
    width: auto;
  }

  .cdr-button--medium\@lg.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--medium\@lg.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--medium\@lg svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  .cdr-button--large\@lg {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-and-a-half-x-squish);
    width: auto;
  }

  .cdr-button--large\@lg.cdr-button--has-icon-left {
    padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--large\@lg.cdr-button--has-icon-right {
    padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  .cdr-button--large\@lg svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  .cdr-button--full-width\@lg {
    width: 100% !important;
    justify-content: center;
  }
}
