@import '../../../../tokens/src/breakpoints.css';

:is(.cdr-button, .btn) {
  font-family: var(--cdr-font-family-sans);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.008rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  border: none;
  border-radius: var(--cdr-radius-softer);
  cursor: pointer;
  display: inline-flex;
  outline: none;
  overflow: visible;
  margin: 0;
  padding: var(--cdr-space-inset-one-x-squish);
  text-align: left;
  text-decoration: none;
  text-transform: none;
  vertical-align: middle;
  transition:
    box-shadow var(--cdr-duration-2-x) var(--cdr-timing-function-ease),
    background-color var(--cdr-duration-2-x) var(--cdr-timing-function-ease),
    color var(--cdr-duration-2-x) var(--cdr-timing-function-ease),
    fill var(--cdr-duration-2-x) var(--cdr-timing-function-ease);
}

:is(.cdr-button, .btn):hover,
:is(.cdr-button, .btn):active,
:is(.cdr-button, .btn):focus {
  outline: none;
  outline-offset: 0;
  text-decoration: none;
}

:is(.cdr-button, .btn)[disabled] {
  cursor: not-allowed;
}

:is(.cdr-button, .btn) svg {
  align-self: center;
  fill: inherit;
}

:is(.cdr-button, .btn):is(.cdr-button--has-icon-left, .btn--ico-l) svg {
  margin-right: var(--cdr-space-quarter-x);
}

:is(.cdr-button, .btn):is(.cdr-button--has-icon-right, .btn--ico-r) svg {
  margin-left: var(--cdr-space-quarter-x);
}

:is(.cdr-button--primary, .btn--pri) {
  background-color: var(
    --cdr-button-primary-background-color-rest,
    var(--cdr-color-background-button-primary-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(--cdr-button-primary-box-shadow-color-rest, var(--cdr-color-border-button-primary-rest));
  color: var(--cdr-button-primary-text-color, var(--cdr-color-text-button-primary));
  fill: var(--cdr-button-primary-fill-color, var(--cdr-color-text-button-primary));
}

:is(.cdr-button--primary, .btn--pri):hover,
:is(.cdr-button--primary, .btn--pri):focus {
  color: var(
    --cdr-button-primary-text-color-interaction,
    var(--cdr-color-text-button-primary-hover)
  );
  fill: var(
    --cdr-button-primary-fill-color-interaction,
    var(--cdr-color-text-button-primary-hover)
  );
  background-color: var(
    --cdr-button-primary-background-color-interaction,
    var(--cdr-color-background-button-primary-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-primary-box-shadow-color-interaction,
        var(--cdr-color-border-button-primary-hover)
      ),
    var(--cdr-prominence-raised);
}

:is(.cdr-button--primary, .btn--pri):active {
  color: var(
    --cdr-button-primary-text-color-active,
    var(--cdr-color-text-button-primary-active)
  );
  fill: var(
    --cdr-button-primary-fill-color-active,
    var(--cdr-color-text-button-primary-active)
  );
  background-color: var(
    --cdr-button-primary-background-color-active,
    var(--cdr-color-background-button-primary-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-primary-box-shadow-color-active,
        var(--cdr-color-border-button-primary-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-primary-box-shadow-color-active-inset,
        var(--cdr-color-border-button-primary-active-inset)
      );
}

:is(.cdr-button--primary, .btn--pri)[disabled] {
  background-color: var(
    --cdr-button-primary-background-color-disabled,
    var(--cdr-color-background-button-default-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-primary-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  color: var(
    --cdr-button-primary-text-color-disabled,
    var(--cdr-color-text-button-primary-disabled)
  );
  fill: var(
    --cdr-button-primary-fill-color-disabled,
    var(--cdr-color-text-button-primary-disabled)
  );
}

:is(.cdr-button--secondary, .btn--sec) {
  background-color: var(
    --cdr-button-secondary-background-color-rest,
    var(--cdr-color-background-button-secondary-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-secondary-box-shadow-color-rest,
      var(--cdr-color-border-button-secondary-rest)
    );
  color: var(--cdr-button-secondary-text-color, var(--cdr-color-text-button-secondary));
  fill: var(--cdr-button-secondary-fill-color, var(--cdr-color-icon-default));
}

:is(.cdr-button--secondary, .btn--sec):hover,
:is(.cdr-button--secondary, .btn--sec):focus {
  color: var(
    --cdr-button-secondary-text-color-interaction,
    var(--cdr-color-text-button-secondary-hover)
  );
  fill: var(
    --cdr-button-secondary-fill-color-interaction,
    var(--cdr-color-text-button-secondary-hover)
  );
  background-color: var(
    --cdr-button-secondary-background-color-interaction,
    var(--cdr-color-background-button-secondary-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-secondary-box-shadow-color-interaction,
        var(--cdr-color-border-button-secondary-hover)
      ),
    var(--cdr-prominence-raised);
}

:is(.cdr-button--secondary, .btn--sec):active {
  color: var(
    --cdr-button-secondary-text-color-active,
    var(--cdr-color-text-button-secondary-active)
  );
  fill: var(
    --cdr-button-secondary-fill-color-active,
    var(--cdr-color-text-button-secondary-active)
  );
  background-color: var(
    --cdr-button-secondary-background-color-active,
    var(--cdr-color-background-button-secondary-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-secondary-box-shadow-color-active,
        var(--cdr-color-border-button-secondary-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-secondary-border-color-active-inset,
        var(--cdr-color-border-button-secondary-active-inset)
      );
}

:is(.cdr-button--secondary, .btn--sec)[disabled] {
  background-color: var(
    --cdr-button-secondary-background-color-disabled,
    var(--cdr-color-background-button-secondary-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-secondary-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  color: var(
    --cdr-button-secondary-text-color-disabled,
    var(--cdr-color-text-button-secondary-disabled)
  );
  fill: var(
    --cdr-button-secondary-fill-color-disabled,
    var(--cdr-color-text-button-secondary-disabled)
  );
}

:is(.cdr-button--dark, .btn--dk) {
  background-color: var(
    --cdr-button-dark-background-color-rest,
    var(--cdr-color-background-button-dark-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(--cdr-button-dark-box-shadow-color-rest, var(--cdr-color-border-button-dark-rest));
  color: var(--cdr-button-dark-text-color, var(--cdr-color-text-button-dark));
  fill: var(--cdr-button-dark-fill-color, var(--cdr-color-text-button-dark));
}

:is(.cdr-button--dark, .btn--dk):hover,
:is(.cdr-button--dark, .btn--dk):focus {
  color: var(
    --cdr-button-dark-text-color-interaction,
    var(--cdr-color-text-button-dark-hover)
  );
  fill: var(
    --cdr-button-dark-fill-color-interaction,
    var(--cdr-color-text-button-dark-hover)
  );
  background-color: var(
    --cdr-button-dark-background-color-interaction,
    var(--cdr-color-background-button-dark-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-dark-box-shadow-color-interaction,
        var(--cdr-color-border-button-dark-hover)
      ),
    var(--cdr-prominence-raised);
}

:is(.cdr-button--dark, .btn--dk):active {
  color: var(
    --cdr-button-dark-text-color-active,
    var(--cdr-color-text-button-dark-active)
  );
  fill: var(
    --cdr-button-dark-fill-color-active,
    var(--cdr-color-text-button-dark-active)
  );
  background-color: var(
    --cdr-button-dark-background-color-active,
    var(--cdr-color-background-button-dark-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-dark-box-shadow-color-active,
        var(--cdr-color-border-button-dark-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-dark-box-shadow-color-active-inset,
        var(--cdr-color-border-button-dark-active-inset)
      );
}

:is(.cdr-button--dark, .btn--dk)[disabled] {
  background-color: var(
    --cdr-button-dark-background-color-disabled,
    var(--cdr-color-background-button-default-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-dark-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  color: var(
    --cdr-button-dark-text-color-disabled,
    var(--cdr-color-text-button-dark-disabled)
  );
  fill: var(
    --cdr-button-dark-fill-color-disabled,
    var(--cdr-color-text-button-dark-disabled)
  );
}

:is(.cdr-button--sale, .btn--sale) {
  background-color: var(
    --cdr-button-sale-background-color-rest,
    var(--cdr-color-background-button-sale-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(--cdr-button-sale-box-shadow-color-rest, var(--cdr-color-border-button-sale-rest));
  color: var(--cdr-button-sale-text-color, var(--cdr-color-text-button-sale));
  fill: var(--cdr-button-sale-fill-color, var(--cdr-color-text-button-sale));
}

:is(.cdr-button--sale, .btn--sale):hover,
:is(.cdr-button--sale, .btn--sale):focus {
  color: var(
    --cdr-button-sale-text-color-interaction,
    var(--cdr-color-text-button-sale-hover)
  );
  fill: var(
    --cdr-button-sale-fill-color-interaction,
    var(--cdr-color-text-button-sale-hover)
  );
  background-color: var(
    --cdr-button-sale-background-color-interaction,
    var(--cdr-color-background-button-sale-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-sale-box-shadow-color-interaction,
        var(--cdr-color-border-button-sale-hover)
      ),
    var(--cdr-prominence-raised);
}

:is(.cdr-button--sale, .btn--sale):active {
  color: var(
    --cdr-button-sale-text-color-active,
    var(--cdr-color-text-button-sale-active)
  );
  fill: var(
    --cdr-button-sale-fill-color-active,
    var(--cdr-color-text-button-sale-active)
  );
  background-color: var(
    --cdr-button-sale-background-color-active,
    var(--cdr-color-background-button-sale-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-sale-box-shadow-color-active,
        var(--cdr-color-border-button-sale-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-sale-box-shadow-color-active-inset,
        var(--cdr-color-border-button-sale-active-inset)
      );
}

:is(.cdr-button--sale, .btn--sale)[disabled] {
  background-color: var(
    --cdr-button-sale-background-color-disabled,
    var(--cdr-color-background-button-default-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-sale-box-shadow-color-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  color: var(
    --cdr-button-sale-text-color-disabled,
    var(--cdr-color-text-button-sale-disabled)
  );
  fill: var(
    --cdr-button-sale-fill-color-disabled,
    var(--cdr-color-text-button-sale-disabled)
  );
}

:is(.cdr-button--link, .btn--lnk) {
  color: var(--cdr-button-link-text-color, var(--cdr-color-text-link-rest));
  fill: var(--cdr-button-link-fill-color, var(--cdr-color-text-link-rest));
  background-color: transparent;
  text-decoration: underline;
}

:is(.cdr-button--link, .btn--lnk):active,
:is(.cdr-button--link, .btn--lnk):focus {
  color: var(
    --cdr-button-link-text-color-active,
    var(--cdr-color-text-link-active)
  );
}

:is(.cdr-button--link, .btn--lnk):hover {
  color: var(
    --cdr-button-link-text-color-hover,
    var(--cdr-color-text-link-hover)
  );
  text-decoration: none;
}

:is(.cdr-button--link, .btn--lnk):focus {
  outline: var(--cdr-button-link-outline, var(--default-outline, 0.2rem solid Highlight));
  outline-color: -webkit-focus-ring-color;
  outline-offset: 0;
}

:is(.cdr-button--small, .btn--sm) {
  font-family: var(--cdr-font-family-sans);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.008rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding: var(--cdr-space-inset-three-quarter-x-squish);
  width: auto;
}

:is(.cdr-button--small, .btn--sm):is(.cdr-button--has-icon-left, .btn--ico-l) {
  padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
}

:is(.cdr-button--small, .btn--sm):is(.cdr-button--has-icon-right, .btn--ico-r) {
  padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
}

:is(.cdr-button--small, .btn--sm) svg {
  width: 2rem;
  height: 2rem;
}

:is(.cdr-button--medium, .btn--md) {
  font-family: var(--cdr-font-family-sans);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.008rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: var(--cdr-space-inset-one-x-squish);
  width: auto;
}

:is(.cdr-button--medium, .btn--md):is(.cdr-button--has-icon-left, .btn--ico-l) {
  padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
}

:is(.cdr-button--medium, .btn--md):is(.cdr-button--has-icon-right, .btn--ico-r) {
  padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
}

:is(.cdr-button--medium, .btn--md) svg {
  width: var(--cdr-icon-size);
  height: var(--cdr-icon-size);
}

:is(.cdr-button--large, .btn--lg) {
  font-family: var(--cdr-font-family-sans);
  font-style: normal;
  font-weight: 500;
  letter-spacing: -.008rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: var(--cdr-space-inset-one-and-a-half-x-squish);
  width: auto;
}

:is(.cdr-button--large, .btn--lg):is(.cdr-button--has-icon-left, .btn--ico-l) {
  padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
}

:is(.cdr-button--large, .btn--lg):is(.cdr-button--has-icon-right, .btn--ico-r) {
  padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
}

:is(.cdr-button--large, .btn--lg) svg {
  width: var(--cdr-icon-size);
  height: var(--cdr-icon-size);
}

:is(.cdr-button--icon-only, .btn--ico) {
  background: none;
  border: none;
  border-radius: var(--cdr-radius-soft);
  box-shadow: none;
  display: inline-block;
  line-height: normal;
  padding: var(--cdr-space-inset-half-x);
  fill: var(--cdr-button-icon-only-icon-fill, var(--cdr-color-icon-default));
}

:is(.cdr-button--icon-only, .btn--ico) > svg {
  margin: 0;
}

:is(.cdr-button--icon-only, .btn--ico):hover {
  background: none;
  box-shadow: none;
  border: none;
  fill: var(--cdr-button-icon-only-icon-fill-hover, var(--cdr-color-icon-default));
}

:is(.cdr-button--icon-only, .btn--ico):active,
:is(.cdr-button--icon-only, .btn--ico):focus {
  background: none;
  outline: none;
  border: none;
  box-shadow: none;
  fill: var(--cdr-button-icon-only-icon-fill-active, var(--cdr-color-icon-default));
}

:is(.cdr-button--icon-only, .btn--ico):active svg,
:is(.cdr-button--icon-only, .btn--ico):focus svg {
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-icon-only-icon-svg-box-shadow,
      var(--cdr-color-border-button-secondary-active)
    );
}

:is(.cdr-button--icon-only, .btn--ico)[disabled] {
  background: transparent;
  box-shadow: none;
  border: none;
  fill: var(
    --cdr-button-icon-only-disabled-icon-fill,
    var(--cdr-color-icon-disabled)
  );
}

:is(.cdr-button--icon-only-large, .btn--ico-lg) {
  padding: var(--cdr-space-three-quarter-x);
}

:is(.cdr-button--with-background, .btn--bg) {
  border-radius: 50%;
  fill: var(--cdr-button-with-background-icon-fill, var(--cdr-color-icon-default));
  background-color: var(
    --cdr-button-with-background-background-color,
    var(--cdr-color-background-button-secondary-rest)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-with-background-box-shadow,
      var(--cdr-color-border-button-secondary-rest)
    );
}

:is(.cdr-button--with-background, .btn--bg):hover,
:is(.cdr-button--with-background, .btn--bg):focus {
  fill: var(
    --cdr-button-with-background-icon-fill-interaction,
    var(--cdr-color-icon-default)
  );
  background-color: var(
    --cdr-button-with-background-background-color-interaction,
    var(--cdr-color-background-button-secondary-hover)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-with-background-box-shadow-interaction,
        var(--cdr-color-border-button-secondary-hover)
      ),
    var(--cdr-prominence-raised);
}

:is(.cdr-button--with-background, .btn--bg):hover svg,
:is(.cdr-button--with-background, .btn--bg):focus svg {
  box-shadow: none;
}

:is(.cdr-button--with-background, .btn--bg):active {
  color: var(
    --cdr-button-with-background-color-active,
    var(--cdr-color-text-button-secondary-active)
  );
  fill: var(
    --cdr-button-with-background-fill-active,
    var(--cdr-color-text-button-secondary-active)
  );
  background-color: var(
    --cdr-button-with-background-background-color-active,
    var(--cdr-color-background-button-secondary-active)
  );
  box-shadow: inset 0 0 0 0.3rem
      var(
        --cdr-button-with-background-box-shadow-active,
        var(--cdr-color-border-button-secondary-active)
      ),
    inset 0 0 0 0.5rem
      var(
        --cdr-button-with-background-box-shadow-inset-active,
        var(--cdr-color-border-button-secondary-active-inset)
      );
}

:is(.cdr-button--with-background, .btn--bg):active svg {
  box-shadow: none;
}

:is(.cdr-button--with-background, .btn--bg)[disabled] {
  background-color: var(
    --cdr-button-with-background-background-color-disabled,
    var(--cdr-color-background-button-secondary-disabled)
  );
  box-shadow: inset 0 0 0 0.1rem
    var(
      --cdr-button-with-background-box-shadow-disabled,
      var(--cdr-color-border-button-default-disabled)
    );
  fill: var(
    --cdr-button-with-background-fill-disabled,
    var(--cdr-color-text-button-secondary-disabled)
  );
}

:is(.cdr-button--full-width, .btn--fw) {
  width: 100% !important;
  justify-content: center;
}

@media (--cdr-xs) {
  :is(.cdr-button--small\@xs, .btn--sm\@xs) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: var(--cdr-space-inset-three-quarter-x-squish);
    width: auto;
  }

  :is(.cdr-button--small\@xs, .btn--sm\@xs):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--small\@xs, .btn--sm\@xs):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--small\@xs, .btn--sm\@xs) svg {
    width: 2rem;
    height: 2rem;
  }

  :is(.cdr-button--medium\@xs, .btn--md\@xs) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-x-squish);
    width: auto;
  }

  :is(.cdr-button--medium\@xs, .btn--md\@xs):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--medium\@xs, .btn--md\@xs):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--medium\@xs, .btn--md\@xs) svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-button--large\@xs, .btn--lg\@xs) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-and-a-half-x-squish);
    width: auto;
  }

  :is(.cdr-button--large\@xs, .btn--lg\@xs):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--large\@xs, .btn--lg\@xs):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--large\@xs, .btn--lg\@xs) svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-button--full-width\@xs, .btn--fw\@xs) {
    width: 100% !important;
    justify-content: center;
  }
}

@media (--cdr-sm) {
  :is(.cdr-button--small\@sm, .btn--sm\@sm) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: var(--cdr-space-inset-three-quarter-x-squish);
    width: auto;
  }

  :is(.cdr-button--small\@sm, .btn--sm\@sm):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--small\@sm, .btn--sm\@sm):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--small\@sm, .btn--sm\@sm) svg {
    width: 2rem;
    height: 2rem;
  }

  :is(.cdr-button--medium\@sm, .btn--md\@sm) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-x-squish);
    width: auto;
  }

  :is(.cdr-button--medium\@sm, .btn--md\@sm):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--medium\@sm, .btn--md\@sm):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--medium\@sm, .btn--md\@sm) svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-button--large\@sm, .btn--lg\@sm) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-and-a-half-x-squish);
    width: auto;
  }

  :is(.cdr-button--large\@sm, .btn--lg\@sm):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--large\@sm, .btn--lg\@sm):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--large\@sm, .btn--lg\@sm) svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-button--full-width\@sm, .btn--fw\@sm) {
    width: 100% !important;
    justify-content: center;
  }
}

@media (--cdr-md) {
  :is(.cdr-button--small\@md, .btn--sm\@md) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: var(--cdr-space-inset-three-quarter-x-squish);
    width: auto;
  }

  :is(.cdr-button--small\@md, .btn--sm\@md):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--small\@md, .btn--sm\@md):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--small\@md, .btn--sm\@md) svg {
    width: 2rem;
    height: 2rem;
  }

  :is(.cdr-button--medium\@md, .btn--md\@md) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-x-squish);
    width: auto;
  }

  :is(.cdr-button--medium\@md, .btn--md\@md):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--medium\@md, .btn--md\@md):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--medium\@md, .btn--md\@md) svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-button--large\@md, .btn--lg\@md) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-and-a-half-x-squish);
    width: auto;
  }

  :is(.cdr-button--large\@md, .btn--lg\@md):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--large\@md, .btn--lg\@md):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--large\@md, .btn--lg\@md) svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-button--full-width\@md, .btn--fw\@md) {
    width: 100% !important;
    justify-content: center;
  }
}

@media (--cdr-lg) {
  :is(.cdr-button--small\@lg, .btn--sm\@lg) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding: var(--cdr-space-inset-three-quarter-x-squish);
    width: auto;
  }

  :is(.cdr-button--small\@lg, .btn--sm\@lg):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--small\@lg, .btn--sm\@lg):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-three-quarter-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--small\@lg, .btn--sm\@lg) svg {
    width: 2rem;
    height: 2rem;
  }

  :is(.cdr-button--medium\@lg, .btn--md\@lg) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-x-squish);
    width: auto;
  }

  :is(.cdr-button--medium\@lg, .btn--md\@lg):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--medium\@lg, .btn--md\@lg):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-one-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--medium\@lg, .btn--md\@lg) svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-button--large\@lg, .btn--lg\@lg) {
    font-family: var(--cdr-font-family-sans);
    font-style: normal;
    font-weight: 500;
    letter-spacing: -.008rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding: var(--cdr-space-inset-one-and-a-half-x-squish);
    width: auto;
  }

  :is(.cdr-button--large\@lg, .btn--lg\@lg):is(.cdr-button--has-icon-left, .btn--ico-l) {
    padding-left: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--large\@lg, .btn--lg\@lg):is(.cdr-button--has-icon-right, .btn--ico-r) {
    padding-right: calc(var(--cdr-space-one-and-a-half-x) - var(--cdr-space-quarter-x));
  }

  :is(.cdr-button--large\@lg, .btn--lg\@lg) svg {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-button--full-width\@lg, .btn--fw\@lg) {
    width: 100% !important;
    justify-content: center;
  }
}
