:is(.cdr-caption, .cap) {
  max-width: 530px;
  line-height: 1;
  padding: var(--cdr-space-half-x) 0;
}

:is(.cdr-caption__summary, .cap__sum) {
  font-family: var(--cdr-font-family-sans);
  font-size: 1.4rem;
  font-weight: 400;
  letter-spacing: 0.08px;
  line-height: 2.2rem;
  margin: 0;
  color: var(--cdr-caption-summary-color, var(--cdr-color-text-primary));
}

:is(.cdr-caption, .cap) cite {
  font-family: var(--cdr-font-family-sans);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 1.8rem;
  color: var(--cdr-caption-cite-color, var(--cdr-color-text-secondary));
  font-style: normal;
}

:is(.cdr-caption__summary, .cap__sum) + cite {
  display: inline-block;
  margin-top: var(--cdr-space-half-x);
}

:is(.cdr-caption__summary, .cap__sum) + :is(.cdr-caption__cite, .cap__cite) {
  display: inline-block;
  margin-top: var(--cdr-space-half-x);
}

:is(.cdr-caption__cite, .cap__cite) {
  font-family: var(--cdr-font-family-sans);
  font-size: 1.2rem;
  font-weight: 400;
  letter-spacing: 0.16px;
  line-height: 1.8rem;
  color: var(--cdr-caption-cite-color, var(--cdr-color-text-secondary));
  font-style: normal;
}
