.cdr-eyebrow {
  color: var(--cdr-text-color, var(--cdr-color-text-primary));
  margin: 0;
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    "Graphik fallback",
    "Helvetica Neue",
    sans-serif
  );
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.032rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
  text-transform: uppercase;
  font-size: var(--cdr-type-scale-minus-1);
  line-height: var(--cdr-eyebrow-line-height-ratio);
}
