:is(.cdr-form-error, .ferr) {
  font-family: var(
    --cdr-text-utility-sans-300-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-300-style, normal);
  font-weight: var(--cdr-text-utility-sans-300-weight, 400);
  letter-spacing: var(--cdr-text-utility-sans-300-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-300-size, 1.6rem);
  line-height: var(--cdr-text-utility-sans-300-height, 2.2rem);
  color: var(
    --cdr-form-error-text-color,
    var(--cdr-color-text-input-error)
  );
  fill: var(
    --cdr-form-error-fill-color,
    var(--cdr-color-text-input-error)
  );
  margin-top: var(--cdr-space-quarter-x);
  height: 0;
  margin: 0;
}

:is(.cdr-form-error__icon, .ferr__icon) {
  margin-right: var(--cdr-space-quarter-x);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 2rem;
  vertical-align: middle;
}

:is(.cdr-form-error__icon, .ferr__icon) svg {
  display: block;
}

:is(.cdr-form-error, .ferr) [role] {
  display: inline-block;
  vertical-align: middle;
}

:is(.--active-error, .is-err) {
  height: auto;
  padding: var(--cdr-space-quarter-x);
}
