.cdr-heading-display {
  color: var(--cdr-text-color, var(--cdr-color-text-primary));
  margin: 0;
  font-family: var(
    --cdr-font-family-serif,
    Stuart,
    "Stuart fallback",
    Georgia,
    serif
  );
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
  font-size: 8.6rem;
  line-height: 9.2rem;
  font-size: var(--cdr-heading-display-font-size, var(--cdr-type-scale-7));
  line-height: var(
    --cdr-heading-display-line-height,
    var(--cdr-line-height-ratio-heading-display-7)
  );
}

.cdr-heading-display--scale-2 {
  --cdr-heading-display-font-size: var(--cdr-type-scale-2);
  --cdr-heading-display-line-height: var(--cdr-line-height-ratio-heading-display-2);
}

.cdr-heading-display--scale-3 {
  --cdr-heading-display-font-size: var(--cdr-type-scale-3);
  --cdr-heading-display-line-height: var(--cdr-line-height-ratio-heading-display-3);
}

.cdr-heading-display--scale-4 {
  --cdr-heading-display-font-size: var(--cdr-type-scale-4);
  --cdr-heading-display-line-height: var(--cdr-line-height-ratio-heading-display-4);
}

.cdr-heading-display--scale-5 {
  --cdr-heading-display-font-size: var(--cdr-type-scale-5);
  --cdr-heading-display-line-height: var(--cdr-line-height-ratio-heading-display-5);
}

.cdr-heading-display--scale-6 {
  --cdr-heading-display-font-size: var(--cdr-type-scale-6);
  --cdr-heading-display-line-height: var(--cdr-line-height-ratio-heading-display-6);
}

.cdr-heading-display--scale-7 {
  --cdr-heading-display-font-size: var(--cdr-type-scale-7);
  --cdr-heading-display-line-height: var(--cdr-line-height-ratio-heading-display-7);
}
