@import '../../../../tokens/src/breakpoints.css';

:is(.cdr-icon, .icn) {
  display: inline-block;
  vertical-align: middle;
  flex: 0 0 auto;
  width: var(--cdr-icon-size);
  height: var(--cdr-icon-size);
  fill: var(--cdr-icon-fill-default, var(--cdr-color-icon-default));
}

:is(.cdr-icon--small, .icn--sm) {
  width: var(--cdr-icon-size-sm);
  height: var(--cdr-icon-size-sm);
}

:is(.cdr-icon--medium, .icn--md) {
  width: var(--cdr-icon-size);
  height: var(--cdr-icon-size);
}

:is(.cdr-icon--large, .icn--lg) {
  width: var(--cdr-icon-size-lg);
  height: var(--cdr-icon-size-lg);
}

@media (--cdr-xs) {
  :is(.cdr-icon--small\@xs, .icn--sm\@xs) {
    width: var(--cdr-icon-size-sm);
    height: var(--cdr-icon-size-sm);
  }

  :is(.cdr-icon--medium\@xs, .icn--md\@xs) {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-icon--large\@xs, .icn--lg\@xs) {
    width: var(--cdr-icon-size-lg);
    height: var(--cdr-icon-size-lg);
  }
}

@media (--cdr-sm) {
  :is(.cdr-icon--small\@sm, .icn--sm\@sm) {
    width: var(--cdr-icon-size-sm);
    height: var(--cdr-icon-size-sm);
  }

  :is(.cdr-icon--medium\@sm, .icn--md\@sm) {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-icon--large\@sm, .icn--lg\@sm) {
    width: var(--cdr-icon-size-lg);
    height: var(--cdr-icon-size-lg);
  }
}

@media (--cdr-md) {
  :is(.cdr-icon--small\@md, .icn--sm\@md) {
    width: var(--cdr-icon-size-sm);
    height: var(--cdr-icon-size-sm);
  }

  :is(.cdr-icon--medium\@md, .icn--md\@md) {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-icon--large\@md, .icn--lg\@md) {
    width: var(--cdr-icon-size-lg);
    height: var(--cdr-icon-size-lg);
  }
}

@media (--cdr-lg) {
  :is(.cdr-icon--small\@lg, .icn--sm\@lg) {
    width: var(--cdr-icon-size-sm);
    height: var(--cdr-icon-size-sm);
  }

  :is(.cdr-icon--medium\@lg, .icn--md\@lg) {
    width: var(--cdr-icon-size);
    height: var(--cdr-icon-size);
  }

  :is(.cdr-icon--large\@lg, .icn--lg\@lg) {
    width: var(--cdr-icon-size-lg);
    height: var(--cdr-icon-size-lg);
  }
}

:is(.cdr-icon--inherit-color, .icn--ic) {
  fill: inherit;
}
