@import '../../../../tokens/src/breakpoints.css';

:is(.cdr-input__button, .inp__btn) {
  display: inline-block;
}

:is(.cdr-input__button, .inp__btn) ~ :is(.cdr-input__button, .inp__btn) {
  position: relative;
  margin-left: 0;
}

:is(.cdr-input__button, .inp__btn) ~ :is(.cdr-input__button, .inp__btn)::before {
  content: '';
  background-color: var(
    --cdr-input-label-background-color,
    var(--cdr-color-border-input-default)
  );
  position: absolute;
  left: -1px;
  width: 1px;
  height: 55%;
  top: 50%;
  transform: translateY(-50%);
}

:is(.cdr-input__button, .inp__btn):hover,
:is(.cdr-input__button, .inp__btn):active,
:is(.cdr-input__button, .inp__btn):focus,
:is(.cdr-input__button, .inp__btn):focus-within {
  background-color: var(
    --cdr-input-label-background-interaction,
    var(--cdr-color-background-input-default-active)
  );
  box-shadow: inset 0 0 0 2px
    var(
      --cdr-input-label-box-shadow-interaction,
      var(--cdr-color-border-input-default-focus)
    );
  outline: none;
  fill: var(
    --cdr-input-label-fill-interaction,
    var(--cdr-color-text-primary)
  );
}

:is(.cdr-input__button, .inp__btn):hover svg,
:is(.cdr-input__button, .inp__btn):active svg,
:is(.cdr-input__button, .inp__btn):focus svg,
:is(.cdr-input__button, .inp__btn):focus-within svg {
  box-shadow: none;
  fill: var(
      --cdr-input-label-svg-fill-interaction,
      var(--cdr-color-text-primary)
    )
    !important;
}

:is(.cdr-input__button, .inp__btn):hover::before,
:is(.cdr-input__button, .inp__btn):active::before,
:is(.cdr-input__button, .inp__btn):focus::before,
:is(.cdr-input__button, .inp__btn):focus-within::before {
  width: 0;
}

:is(.cdr-input__button, .inp__btn):last-child {
  margin-right: calc(-1 * var(--cdr-space-half-x));
  border-top-right-radius: var(--cdr-radius-softer);
  border-bottom-right-radius: var(--cdr-radius-softer);
}

:is(.cdr-input, .inp) {
  font-family: var(
    --cdr-text-utility-sans-300-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-300-style, normal);
  font-weight: 500;
  letter-spacing: var(--cdr-text-utility-sans-300-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-300-size, 1.6rem);
  line-height: var(--cdr-text-utility-sans-300-height, 2.2rem);
  color: var(
    --cdr-input-text-color-default,
    var(--cdr-color-text-input-default)
  );
  border: 0;
  background-color: var(
    --cdr-input-background-color-default,
    var(--cdr-color-background-input-default)
  );
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-input-box-shadow-default,
      var(--cdr-color-border-input-default)
    );
  fill: var(--cdr-input-icon-fill, var(--cdr-color-icon-default));
  border-radius: var(--cdr-radius-softer);
  padding: var(--cdr-space-inset-half-x);
  height: var(--cdr-form-input-height-default);
  display: block;
  width: 100%;
  overflow: visible;
  margin: 0;
  appearance: none !important;
}

:is(.cdr-input, .inp)[type='number']::-webkit-inner-spin-button,
:is(.cdr-input, .inp)[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

:is(.cdr-input, .inp):active,
:is(.cdr-input, .inp):focus {
  outline: none;
  box-shadow: inset 0 0 0 2px
      var(
        --cdr-input-box-shadow-focus,
        var(--cdr-color-border-input-default-focus)
      ),
    var(--cdr-prominence-raised);
}

:is(.cdr-input, .inp)::placeholder {
  font-family: var(
    --cdr-text-utility-sans-300-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-300-style, normal);
  font-weight: var(--cdr-text-utility-sans-300-weight, 400);
  letter-spacing: var(--cdr-text-utility-sans-300-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-300-size, 1.6rem);
  line-height: var(--cdr-text-utility-sans-300-height, 2.2rem);
  color: var(
    --cdr-input-placeholder-text-color,
    var(--cdr-color-text-input-placeholder)
  );
}

:is(.cdr-input, .inp)[disabled] {
  background-color: var(
    --cdr-input-background-color-disabled,
    var(--cdr-color-background-input-default-disabled)
  );
  color: var(
    --cdr-input-text-color-disabled,
    var(--cdr-color-text-input-disabled)
  );
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-input-box-shadow-disabled,
      var(--cdr-color-border-input-default-disabled)
    );
}

:is(.cdr-input, .inp)[disabled]:hover {
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-input-box-shadow-disabled-hover,
      var(--cdr-color-border-input-default-disabled)
    );
  cursor: not-allowed;
}

:is(.cdr-input, .inp)[disabled]::placeholder {
  color: var(
    --cdr-input-placeholder-text-color-disabled,
    var(--cdr-color-text-input-disabled)
  );
}

:is(.cdr-input--focus, .inp--foc) svg {
  fill: var(
    --cdr-input-svg-fill-focus,
    var(--cdr-color-text-primary)
  ) !important;
}

:is(.cdr-input--multiline, .inp--ml) {
  height: auto;
}

:is(.cdr-input--preicon, .inp--pre) {
  padding-left: calc(
    var(--cdr-space-half-x) + var(--cdr-space-quarter-x) + 25px
  ) !important;
}

:is(.cdr-input--posticon, .inp--post) {
  padding-right: 45px;
}

:is(.cdr-input--posticons, .inp--posts) {
  padding-right: 90px;
}

:is(.cdr-input--primary, .inp--pri) {
  background-color: var(
    --cdr-input-background-color-default,
    var(--cdr-color-background-input-default)
  );
}

:is(.cdr-input--primary, .inp--pri):active,
:is(.cdr-input--primary, .inp--pri):focus {
  background-color: var(
    --cdr-input-background-color-default-focus,
    var(--cdr-color-background-input-default-active)
  );
}

:is(.cdr-input--secondary, .inp--sec) {
  background-color: var(
    --cdr-input-background-color-secondary,
    var(--cdr-color-background-input-secondary)
  );
}

:is(.cdr-input--secondary, .inp--sec):active,
:is(.cdr-input--secondary, .inp--sec):focus {
  background-color: var(
    --cdr-input-background-color-secondary-active,
    var(--cdr-color-background-input-secondary-active)
  );
}

:is(.cdr-input--error, .inp--err) {
  background-color: var(
    --cdr-input-error-background-color,
    var(--cdr-color-background-input-error)
  );
  box-shadow: inset 0 0 0 1px
    var(--cdr-input-error-box-shadow, var(--cdr-color-border-input-error));
}

:is(.cdr-input--large, .inp--lg) {
  font-family: var(
    --cdr-text-utility-sans-400-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-400-style, normal);
  font-weight: var(--cdr-text-utility-sans-400-weight, 400);
  letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
  line-height: calc(
    var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
  );
  padding-left: var(--cdr-space-half-x);
  height: var(--cdr-form-input-height-large);
}

:is(.cdr-input--large, .inp--lg)::placeholder {
  line-height: calc(
    var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
  );
}

@media (--cdr-xs) {
  :is(.cdr-input--large\@xs, .inp--lg\@xs) {
    font-family: var(
      --cdr-text-utility-sans-400-family,
      var(--cdr-font-family-sans)
    );
    font-style: var(--cdr-text-utility-sans-400-style, normal);
    font-weight: var(--cdr-text-utility-sans-400-weight, 400);
    letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
    font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
    padding-left: var(--cdr-space-half-x);
    height: var(--cdr-form-input-height-large);
  }

  :is(.cdr-input--large\@xs, .inp--lg\@xs)::placeholder {
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
  }
}

@media (--cdr-sm) {
  :is(.cdr-input--large\@sm, .inp--lg\@sm) {
    font-family: var(
      --cdr-text-utility-sans-400-family,
      var(--cdr-font-family-sans)
    );
    font-style: var(--cdr-text-utility-sans-400-style, normal);
    font-weight: var(--cdr-text-utility-sans-400-weight, 400);
    letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
    font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
    padding-left: var(--cdr-space-half-x);
    height: var(--cdr-form-input-height-large);
  }

  :is(.cdr-input--large\@sm, .inp--lg\@sm)::placeholder {
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
  }
}

@media (--cdr-md) {
  :is(.cdr-input--large\@md, .inp--lg\@md) {
    font-family: var(
      --cdr-text-utility-sans-400-family,
      var(--cdr-font-family-sans)
    );
    font-style: var(--cdr-text-utility-sans-400-style, normal);
    font-weight: var(--cdr-text-utility-sans-400-weight, 400);
    letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
    font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
    padding-left: var(--cdr-space-half-x);
    height: var(--cdr-form-input-height-large);
  }

  :is(.cdr-input--large\@md, .inp--lg\@md)::placeholder {
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
  }
}

@media (--cdr-lg) {
  :is(.cdr-input--large\@lg, .inp--lg\@lg) {
    font-family: var(
      --cdr-text-utility-sans-400-family,
      var(--cdr-font-family-sans)
    );
    font-style: var(--cdr-text-utility-sans-400-style, normal);
    font-weight: var(--cdr-text-utility-sans-400-weight, 400);
    letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
    font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
    padding-left: var(--cdr-space-half-x);
    height: var(--cdr-form-input-height-large);
  }

  :is(.cdr-input--large\@lg, .inp--lg\@lg)::placeholder {
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
  }
}

:is(.cdr-input__pre-icon, .inp__pre) {
  position: absolute;
  top: 50%;
  left: var(--cdr-space-half-x);
  transform: translateY(-50%);
}

:is(.cdr-input__post-icon, .inp__post) {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: var(--cdr-space-half-x);
  transform: translateY(-50%);
}

:is(.cdr-input__pre-icon, .inp__pre) svg,
:is(.cdr-input__post-icon, .inp__post) svg {
  display: block;
}

:is(.cdr-input__button, .inp__btn) svg {
  display: block;
}

:is(.cdr-input__helper-text, .inp__help) {
  font-family: var(
    --cdr-text-utility-sans-200-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-200-style, normal);
  font-weight: var(--cdr-text-utility-sans-200-weight, 400);
  letter-spacing: var(--cdr-text-utility-sans-200-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-200-size, 1.4rem);
  line-height: var(--cdr-text-utility-sans-200-height, 2rem);
  color: var(
    --cdr-input-helper-text-color,
    var(--cdr-color-text-input-help)
  );
  display: inline-block;
  margin-top: var(--cdr-space-quarter-x);
}

:is(.cdr-input-wrap, .inp-wrap) {
  position: relative;
  flex-grow: 1;
  fill: var(--cdr-input-wrap-fill, var(--cdr-color-icon-default));
}
