@import '../../../../tokens/src/breakpoints.css';

.cdr-input__button {
  display: inline-block;
}

.cdr-input__button ~ .cdr-input__button {
  position: relative;
  margin-left: 0;
}

.cdr-input__button ~ .cdr-input__button::before {
  content: '';
  background-color: var(
    --cdr-input-label-background-color,
    var(--cdr-color-border-input-default)
  );
  position: absolute;
  left: -1px;
  width: 1px;
  height: 55%;
  top: 50%;
  transform: translateY(-50%);
}

.cdr-input__button:hover,
.cdr-input__button:active,
.cdr-input__button:focus,
.cdr-input__button:focus-within {
  background-color: var(
    --cdr-input-label-background-interaction,
    var(--cdr-color-background-input-default-active)
  );
  box-shadow: inset 0 0 0 2px
    var(
      --cdr-input-label-box-shadow-interaction,
      var(--cdr-color-border-input-default-focus)
    );
  outline: none;
  fill: var(
    --cdr-input-label-fill-interaction,
    var(--cdr-color-text-primary)
  );
}

.cdr-input__button:hover svg,
.cdr-input__button:active svg,
.cdr-input__button:focus svg,
.cdr-input__button:focus-within svg {
  box-shadow: none;
  fill: var(
      --cdr-input-label-svg-fill-interaction,
      var(--cdr-color-text-primary)
    )
    !important;
}

.cdr-input__button:hover::before,
.cdr-input__button:active::before,
.cdr-input__button:focus::before,
.cdr-input__button:focus-within::before {
  width: 0;
}

.cdr-input__button:last-child {
  margin-right: calc(-1 * var(--cdr-space-half-x));
  border-top-right-radius: var(--cdr-radius-softer);
  border-bottom-right-radius: var(--cdr-radius-softer);
}

.cdr-input {
  font-family: var(
    --cdr-text-utility-sans-300-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-300-style, normal);
  font-weight: 500;
  letter-spacing: var(--cdr-text-utility-sans-300-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-300-size, 1.6rem);
  line-height: var(--cdr-text-utility-sans-300-height, 2.2rem);
  color: var(
    --cdr-input-text-color-default,
    var(--cdr-color-text-input-default)
  );
  border: 0;
  background-color: var(
    --cdr-input-background-color-default,
    var(--cdr-color-background-input-default)
  );
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-input-box-shadow-default,
      var(--cdr-color-border-input-default)
    );
  fill: var(--cdr-input-icon-fill, var(--cdr-color-icon-default));
  border-radius: var(--cdr-radius-softer);
  padding: var(--cdr-space-inset-half-x);
  height: var(--cdr-form-input-height-default);
  display: block;
  width: 100%;
  overflow: visible;
  margin: 0;
  appearance: none !important;
}

.cdr-input[type='number']::-webkit-inner-spin-button,
.cdr-input[type='number']::-webkit-outer-spin-button {
  appearance: none;
  margin: 0;
}

.cdr-input:active,
.cdr-input:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px
      var(
        --cdr-input-box-shadow-focus,
        var(--cdr-color-border-input-default-focus)
      ),
    var(--cdr-prominence-raised);
}

.cdr-input::placeholder {
  font-family: var(
    --cdr-text-utility-sans-300-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-300-style, normal);
  font-weight: var(--cdr-text-utility-sans-300-weight, 400);
  letter-spacing: var(--cdr-text-utility-sans-300-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-300-size, 1.6rem);
  line-height: var(--cdr-text-utility-sans-300-height, 2.2rem);
  color: var(
    --cdr-input-placeholder-text-color,
    var(--cdr-color-text-input-placeholder)
  );
}

.cdr-input[disabled] {
  background-color: var(
    --cdr-input-background-color-disabled,
    var(--cdr-color-background-input-default-disabled)
  );
  color: var(
    --cdr-input-text-color-disabled,
    var(--cdr-color-text-input-disabled)
  );
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-input-box-shadow-disabled,
      var(--cdr-color-border-input-default-disabled)
    );
}

.cdr-input[disabled]:hover {
  box-shadow: inset 0 0 0 1px
    var(
      --cdr-input-box-shadow-disabled-hover,
      var(--cdr-color-border-input-default-disabled)
    );
  cursor: not-allowed;
}

.cdr-input[disabled]::placeholder {
  color: var(
    --cdr-input-placeholder-text-color-disabled,
    var(--cdr-color-text-input-disabled)
  );
}

.cdr-input--focus svg {
  fill: var(
    --cdr-input-svg-fill-focus,
    var(--cdr-color-text-primary)
  ) !important;
}

.cdr-input--multiline {
  height: auto;
}

.cdr-input--preicon {
  padding-left: calc(
    var(--cdr-space-half-x) + var(--cdr-space-quarter-x) + 25px
  ) !important;
}

.cdr-input--posticon {
  padding-right: 45px;
}

.cdr-input--posticons {
  padding-right: 90px;
}

.cdr-input--primary {
  background-color: var(
    --cdr-input-background-color-default,
    var(--cdr-color-background-input-default)
  );
}

.cdr-input--primary:active,
.cdr-input--primary:focus {
  background-color: var(
    --cdr-input-background-color-default-focus,
    var(--cdr-color-background-input-default-active)
  );
}

.cdr-input--secondary {
  background-color: var(
    --cdr-input-background-color-secondary,
    var(--cdr-color-background-input-secondary)
  );
}

.cdr-input--secondary:active,
.cdr-input--secondary:focus {
  background-color: var(
    --cdr-input-background-color-secondary-active,
    var(--cdr-color-background-input-secondary-active)
  );
}

.cdr-input--error {
  background-color: var(
    --cdr-input-error-background-color,
    var(--cdr-color-background-input-error)
  );
  box-shadow: inset 0 0 0 1px
    var(--cdr-input-error-box-shadow, var(--cdr-color-border-input-error));
}

.cdr-input--large {
  font-family: var(
    --cdr-text-utility-sans-400-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-400-style, normal);
  font-weight: var(--cdr-text-utility-sans-400-weight, 400);
  letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
  line-height: calc(
    var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
  );
  padding-left: var(--cdr-space-half-x);
  height: var(--cdr-form-input-height-large);
}

.cdr-input--large::placeholder {
  line-height: calc(
    var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
  );
}

@media (--cdr-xs) {
  .cdr-input--large\@xs {
    font-family: var(
      --cdr-text-utility-sans-400-family,
      var(--cdr-font-family-sans)
    );
    font-style: var(--cdr-text-utility-sans-400-style, normal);
    font-weight: var(--cdr-text-utility-sans-400-weight, 400);
    letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
    font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
    padding-left: var(--cdr-space-half-x);
    height: var(--cdr-form-input-height-large);
  }

  .cdr-input--large\@xs::placeholder {
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
  }
}

@media (--cdr-sm) {
  .cdr-input--large\@sm {
    font-family: var(
      --cdr-text-utility-sans-400-family,
      var(--cdr-font-family-sans)
    );
    font-style: var(--cdr-text-utility-sans-400-style, normal);
    font-weight: var(--cdr-text-utility-sans-400-weight, 400);
    letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
    font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
    padding-left: var(--cdr-space-half-x);
    height: var(--cdr-form-input-height-large);
  }

  .cdr-input--large\@sm::placeholder {
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
  }
}

@media (--cdr-md) {
  .cdr-input--large\@md {
    font-family: var(
      --cdr-text-utility-sans-400-family,
      var(--cdr-font-family-sans)
    );
    font-style: var(--cdr-text-utility-sans-400-style, normal);
    font-weight: var(--cdr-text-utility-sans-400-weight, 400);
    letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
    font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
    padding-left: var(--cdr-space-half-x);
    height: var(--cdr-form-input-height-large);
  }

  .cdr-input--large\@md::placeholder {
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
  }
}

@media (--cdr-lg) {
  .cdr-input--large\@lg {
    font-family: var(
      --cdr-text-utility-sans-400-family,
      var(--cdr-font-family-sans)
    );
    font-style: var(--cdr-text-utility-sans-400-style, normal);
    font-weight: var(--cdr-text-utility-sans-400-weight, 400);
    letter-spacing: var(--cdr-text-utility-sans-400-spacing, -0.016rem);
    font-size: var(--cdr-text-utility-sans-400-size, 1.8rem);
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
    padding-left: var(--cdr-space-half-x);
    height: var(--cdr-form-input-height-large);
  }

  .cdr-input--large\@lg::placeholder {
    line-height: calc(
      var(--cdr-space-half-x) + var(--cdr-text-utility-sans-400-height)
    );
  }
}

.cdr-input__pre-icon {
  position: absolute;
  top: 50%;
  left: var(--cdr-space-half-x);
  transform: translateY(-50%);
}

.cdr-input__post-icon {
  display: flex;
  align-items: center;
  position: absolute;
  top: 50%;
  right: var(--cdr-space-half-x);
  transform: translateY(-50%);
}

.cdr-input__pre-icon svg,
.cdr-input__post-icon svg {
  display: block;
}

.cdr-input__button svg {
  display: block;
}

.cdr-input__helper-text {
  font-family: var(
    --cdr-text-utility-sans-200-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-200-style, normal);
  font-weight: var(--cdr-text-utility-sans-200-weight, 400);
  letter-spacing: var(--cdr-text-utility-sans-200-spacing, -0.016rem);
  font-size: var(--cdr-text-utility-sans-200-size, 1.4rem);
  line-height: var(--cdr-text-utility-sans-200-height, 2rem);
  color: var(
    --cdr-input-helper-text-color,
    var(--cdr-color-text-input-help)
  );
  display: inline-block;
  margin-top: var(--cdr-space-quarter-x);
}

.cdr-input-wrap {
  position: relative;
  flex-grow: 1;
  fill: var(--cdr-input-wrap-fill, var(--cdr-color-icon-default));
}
