:is(.cdr-label-standalone, .lbls) {
  display: grid;
  grid-template-areas:
    'label label info'
    'input input input'
    'post post post';
}

:is(.cdr-label-standalone__label-wrapper, .lbls__label-wrapper) {
  grid-area: label;
}

:is(.cdr-label-standalone__label, .lbls__label) {
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    'Graphik fallback',
    'Helvetica Neue',
    sans-serif
  );
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.016rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(
    --cdr-label-standalone-text-color,
    var(--cdr-color-text-input-label)
  );
  margin: 0;
}

:is(.cdr-label-standalone__label--sr-only, .lbls__label--sr) {
  position: absolute;
  width: 0.1rem;
  height: 0.1rem;
  padding: 0;
  margin: -0.1rem;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

:is(.cdr-label-standalone__label--disabled, .lbls__label--dis),
:is(.cdr-label-standalone__label--disabled, .lbls__label--dis)
  :is(.cdr-label-standalone__optional, .lbls__optional) {
  color: var(
    --cdr-label-standalone-disabled-text-color,
    var(--cdr-color-text-input-disabled)
  );
}

:is(.cdr-label-standalone__optional, .lbls__optional) {
  color: var(
    --cdr-label-standalone-optional-text-color,
    var(--cdr-color-text-input-optional)
  );
}

:is(.cdr-label-standalone__helper, .lbls__helper) {
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    'Graphik fallback',
    'Helvetica Neue',
    sans-serif
  );
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.016rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  color: var(
    --cdr-label-standalone-helper-text-color,
    var(--cdr-color-text-input-help)
  );
  margin-top: var(--cdr-space-eighth-x);
}

:is(.cdr-label-standalone__info, .lbls__info) {
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    'Graphik fallback',
    'Helvetica Neue',
    sans-serif
  );
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.016rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  grid-area: info;
  order: 2;
  place-self: end end;
}

:is(.cdr-label-standalone__post-content, .lbls__post-content) {
  grid-area: post;
}

:is(.cdr-label-standalone__info-action, .lbls__info-action) {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
}

:is(.cdr-label-standalone__input-wrap, .lbls__input-wrap) {
  position: relative;
  display: flex;
  grid-area: input;
}

:is(.cdr-label-standalone__input-spacing, .lbls__input-spacing) {
  margin-top: var(--cdr-space-half-x);
}
