@import '../../../../tokens/src/breakpoints.css';

:is(.cdr-label-wrapper, .lblw) {
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    "Graphik fallback",
    "Helvetica Neue",
    sans-serif
  );
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.016rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding: var(--cdr-space-half-x);
  padding-left: calc(
    var(--cdr-form-figure-size-medium) + var(--cdr-space-one-x)
  );
  padding-right: var(--cdr-space-three-quarter-x);
  color: var(
    --cdr-label-wrapper-text-color,
    var(--cdr-color-text-input-label)
  );
  background-color: var(
    --cdr-label-wrapper-background-color,
    var(--cdr-color-background-input-default)
  );
  border-radius: var(--cdr-radius-softer);
  width: 100%;
  display: inline-block;
  margin: 0;
  display: flex;
  align-items: flex-start;
  flex-grow: 1;
  position: relative;
  user-select: none;
}

:is(.cdr-label-wrapper__container, .lblw__cont) {
  font-size: 0;
  line-height: 1;
}

:is(.cdr-label-wrapper, .lblw) input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

:is(.cdr-label-wrapper--primary, .lblw--pri):hover {
  background-color: var(
    --cdr-label-wrapper-primary-background-color-hover,
    var(--cdr-color-background-label-default-hover)
  );
  cursor: pointer;
}

:is(.cdr-label-wrapper--primary, .lblw--pri):focus-within {
  background-color: var(
    --cdr-label-wrapper-primary-background-color-focus,
    var(--cdr-color-background-label-default-focus)
  );
  box-shadow: inset 0 0 0 0.2rem
    var(
      --cdr-label-wrapper-primary-focus-box-shadow-color,
      var(--cdr-color-border-label-default-focus)
    );
}

:is(.cdr-label-wrapper--primary, .lblw--pri):active {
  background-color: var(
    --cdr-label-wrapper-primary-background-color-active,
    var(--cdr-color-background-label-default-active)
  );
}

:is(.cdr-label-wrapper--secondary, .lblw--sec) {
  background-color: var(
    --cdr-label-wrapper-secondary-background-color,
    var(--cdr-color-background-input-default)
  );
}

:is(.cdr-label-wrapper--secondary, .lblw--sec):hover {
  background-color: var(
    --cdr-label-wrapper-secondary-background-color-hover,
    var(--cdr-color-background-label-secondary-hover)
  );
  cursor: pointer;
}

:is(.cdr-label-wrapper--secondary, .lblw--sec):focus-within {
  background-color: var(
    --cdr-label-wrapper-secondary-background-color-focus,
    var(--cdr-color-background-label-secondary-focus)
  );
}

:is(.cdr-label-wrapper--secondary, .lblw--sec):active {
  background-color: var(
    --cdr-label-wrapper-secondary-background-color-active,
    var(--cdr-color-background-label-secondary-active)
  );
}

:is(.cdr-label-wrapper--disabled, .lblw--dis) {
  color: var(
    --cdr-label-wrapper-text-color-disabled,
    var(--cdr-color-text-input-disabled)
  ) !important;
  cursor: not-allowed !important;
}

:is(.cdr-label-wrapper--disabled, .lblw--dis):hover,
:is(.cdr-label-wrapper--disabled, .lblw--dis):focus-within,
:is(.cdr-label-wrapper--disabled, .lblw--dis):active {
  background-color: var(
    --cdr-label-wrapper-background-color-disabled,
    var(--cdr-color-background-input-default)
  ) !important;
}

:is(.cdr-label-wrapper--disabled, .lblw--dis) :is(.cdr-label-wrapper__figure, .lblw__fig) {
  cursor: not-allowed !important;
}

:is(.cdr-label-wrapper__figure, .lblw__fig) {
  top: 1.1rem;
  width: var(--cdr-form-figure-size-medium);
  height: var(--cdr-form-figure-size-medium);
  position: absolute;
  left: var(--cdr-space-half-x);
  border-radius: var(--cdr-radius-softer);
  background-color: var(
    --cdr-form-figure-background-color,
    var(--cdr-color-background-input-default)
  );
  box-shadow: 0 0 0 0.1rem
    var(
      --cdr-form-figure-box-shadow-color,
      var(--cdr-color-border-input-default)
    );
  transition: box-shadow var(--cdr-duration-2-x)
    var(--cdr-timing-function-ease);
}

:is(.cdr-label-wrapper__figure, .lblw__fig)::after {
  width: calc(var(--cdr-form-figure-size-medium) / 4);
  height: calc(var(--cdr-form-figure-size-medium) / 4);
}

:is(.cdr-label-wrapper__content, .lblw__content) {
  user-select: text;
}

:is(.cdr-label-wrapper--hide-figure, .lblw--hfig) {
  padding-left: 0;
}

:is(.cdr-label-wrapper--hide-figure, .lblw--hfig) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
  display: none;
}

:is(.cdr-label-wrapper--hide-figure, .lblw--hfig) > :is(.cdr-checkbox__svg-box, .cbx__svg) svg {
  fill: transparent !important;
}

:is(.cdr-label-wrapper--small, .lblw--sm) {
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    "Graphik fallback",
    "Helvetica Neue",
    sans-serif
  );
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.016rem;
  font-size: 1.4rem;
  line-height: 1.8rem;
  padding-left: calc(var(--cdr-form-figure-size-small) + var(--cdr-space-one-x));
}

:is(.cdr-label-wrapper--small, .lblw--sm) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
  width: var(--cdr-form-figure-size-small);
  height: var(--cdr-form-figure-size-small);
}

:is(.cdr-label-wrapper--small, .lblw--sm) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
  width: calc(var(--cdr-form-figure-size-small) / 4);
  height: calc(var(--cdr-form-figure-size-small) / 4);
}

:is(.cdr-label-wrapper--medium, .lblw--md) {
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    "Graphik fallback",
    "Helvetica Neue",
    sans-serif
  );
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.016rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-left: calc(var(--cdr-form-figure-size-medium) + var(--cdr-space-one-x));
}

:is(.cdr-label-wrapper--medium, .lblw--md) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
  width: var(--cdr-form-figure-size-medium);
  height: var(--cdr-form-figure-size-medium);
}

:is(.cdr-label-wrapper--medium, .lblw--md) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
  width: calc(var(--cdr-form-figure-size-medium) / 4);
  height: calc(var(--cdr-form-figure-size-medium) / 4);
}

:is(.cdr-label-wrapper--large, .lblw--lg) {
  font-family: var(
    --cdr-font-family-sans,
    Graphik,
    "Graphik fallback",
    "Helvetica Neue",
    sans-serif
  );
  font-style: normal;
  font-weight: 400;
  letter-spacing: -0.016rem;
  font-size: 1.6rem;
  line-height: 2.2rem;
  padding-left: calc(var(--cdr-form-figure-size-large) + var(--cdr-space-one-x));
}

:is(.cdr-label-wrapper--large, .lblw--lg) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
  width: var(--cdr-form-figure-size-large);
  height: var(--cdr-form-figure-size-large);
}

:is(.cdr-label-wrapper--large, .lblw--lg) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after,
:is(.cdr-label-wrapper--large, .lblw--lg) > :is(.cdr-label-wrapper__figure, .lblw__fig) :is(.cdr-checkbox__checkbox-box, .cbx__box) {
  width: calc(var(--cdr-form-figure-size-large) / 4);
  height: calc(var(--cdr-form-figure-size-large) / 4);
}

:is(.cdr-label-wrapper--large, .lblw--lg) :is(.cdr-checkbox__checkbox-box, .cbx__box) {
  width: 2rem;
  height: 2rem;
}

:is(.cdr-label-wrapper--large, .lblw--lg) :is(.cdr-checkbox__svg-box, .cbx__svg) svg {
  width: 2rem;
  height: 2rem;
  left: 0;
  top: -1.7rem;
}

@media (--cdr-xs) {
  :is(.cdr-label-wrapper--small\@xs, .lblw--sm\@xs) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-left: calc(
      var(--cdr-form-figure-size-small) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--small\@xs, .lblw--sm\@xs) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-small);
    height: var(--cdr-form-figure-size-small);
  }

  :is(.cdr-label-wrapper--small\@xs, .lblw--sm\@xs) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
    width: calc(var(--cdr-form-figure-size-small) / 4);
    height: calc(var(--cdr-form-figure-size-small) / 4);
  }

  :is(.cdr-label-wrapper--medium\@xs, .lblw--md\@xs) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: calc(
      var(--cdr-form-figure-size-medium) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--medium\@xs, .lblw--md\@xs) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-medium);
    height: var(--cdr-form-figure-size-medium);
  }

  :is(.cdr-label-wrapper--medium\@xs, .lblw--md\@xs) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
    width: calc(var(--cdr-form-figure-size-medium) / 4);
    height: calc(var(--cdr-form-figure-size-medium) / 4);
  }

  :is(.cdr-label-wrapper--large\@xs, .lblw--lg\@xs) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: calc(
      var(--cdr-form-figure-size-large) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--large\@xs, .lblw--lg\@xs) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-large);
    height: var(--cdr-form-figure-size-large);
  }

  :is(.cdr-label-wrapper--large\@xs, .lblw--lg\@xs) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after,
  :is(.cdr-label-wrapper--large\@xs, .lblw--lg\@xs)
    > :is(.cdr-label-wrapper__figure, .lblw__fig)
    :is(.cdr-checkbox__checkbox-box, .cbx__box) {
    width: calc(var(--cdr-form-figure-size-large) / 4);
    height: calc(var(--cdr-form-figure-size-large) / 4);
  }

  :is(.cdr-label-wrapper--large\@xs, .lblw--lg\@xs) :is(.cdr-checkbox__checkbox-box, .cbx__box) {
    width: 2rem;
    height: 2rem;
  }

  :is(.cdr-label-wrapper--large\@xs, .lblw--lg\@xs) :is(.cdr-checkbox__svg-box, .cbx__svg) svg {
    width: 2rem;
    height: 2rem;
    left: 0;
    top: -1.7rem;
  }
}

@media (--cdr-sm) {
  :is(.cdr-label-wrapper--small\@sm, .lblw--sm\@sm) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-left: calc(
      var(--cdr-form-figure-size-small) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--small\@sm, .lblw--sm\@sm) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-small);
    height: var(--cdr-form-figure-size-small);
  }

  :is(.cdr-label-wrapper--small\@sm, .lblw--sm\@sm) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
    width: calc(var(--cdr-form-figure-size-small) / 4);
    height: calc(var(--cdr-form-figure-size-small) / 4);
  }

  :is(.cdr-label-wrapper--medium\@sm, .lblw--md\@sm) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: calc(
      var(--cdr-form-figure-size-medium) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--medium\@sm, .lblw--md\@sm) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-medium);
    height: var(--cdr-form-figure-size-medium);
  }

  :is(.cdr-label-wrapper--medium\@sm, .lblw--md\@sm) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
    width: calc(var(--cdr-form-figure-size-medium) / 4);
    height: calc(var(--cdr-form-figure-size-medium) / 4);
  }

  :is(.cdr-label-wrapper--large\@sm, .lblw--lg\@sm) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: calc(
      var(--cdr-form-figure-size-large) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--large\@sm, .lblw--lg\@sm) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-large);
    height: var(--cdr-form-figure-size-large);
  }

  :is(.cdr-label-wrapper--large\@sm, .lblw--lg\@sm) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after,
  :is(.cdr-label-wrapper--large\@sm, .lblw--lg\@sm)
    > :is(.cdr-label-wrapper__figure, .lblw__fig)
    :is(.cdr-checkbox__checkbox-box, .cbx__box) {
    width: calc(var(--cdr-form-figure-size-large) / 4);
    height: calc(var(--cdr-form-figure-size-large) / 4);
  }

  :is(.cdr-label-wrapper--large\@sm, .lblw--lg\@sm) :is(.cdr-checkbox__checkbox-box, .cbx__box) {
    width: 2rem;
    height: 2rem;
  }

  :is(.cdr-label-wrapper--large\@sm, .lblw--lg\@sm) :is(.cdr-checkbox__svg-box, .cbx__svg) svg {
    width: 2rem;
    height: 2rem;
    left: 0;
    top: -1.7rem;
  }
}

@media (--cdr-md) {
  :is(.cdr-label-wrapper--small\@md, .lblw--sm\@md) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-left: calc(
      var(--cdr-form-figure-size-small) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--small\@md, .lblw--sm\@md) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-small);
    height: var(--cdr-form-figure-size-small);
  }

  :is(.cdr-label-wrapper--small\@md, .lblw--sm\@md) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
    width: calc(var(--cdr-form-figure-size-small) / 4);
    height: calc(var(--cdr-form-figure-size-small) / 4);
  }

  :is(.cdr-label-wrapper--medium\@md, .lblw--md\@md) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: calc(
      var(--cdr-form-figure-size-medium) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--medium\@md, .lblw--md\@md) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-medium);
    height: var(--cdr-form-figure-size-medium);
  }

  :is(.cdr-label-wrapper--medium\@md, .lblw--md\@md) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
    width: calc(var(--cdr-form-figure-size-medium) / 4);
    height: calc(var(--cdr-form-figure-size-medium) / 4);
  }

  :is(.cdr-label-wrapper--large\@md, .lblw--lg\@md) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: calc(
      var(--cdr-form-figure-size-large) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--large\@md, .lblw--lg\@md) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-large);
    height: var(--cdr-form-figure-size-large);
  }

  :is(.cdr-label-wrapper--large\@md, .lblw--lg\@md) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after,
  :is(.cdr-label-wrapper--large\@md, .lblw--lg\@md)
    > :is(.cdr-label-wrapper__figure, .lblw__fig)
    :is(.cdr-checkbox__checkbox-box, .cbx__box) {
    width: calc(var(--cdr-form-figure-size-large) / 4);
    height: calc(var(--cdr-form-figure-size-large) / 4);
  }

  :is(.cdr-label-wrapper--large\@md, .lblw--lg\@md) :is(.cdr-checkbox__checkbox-box, .cbx__box) {
    width: 2rem;
    height: 2rem;
  }

  :is(.cdr-label-wrapper--large\@md, .lblw--lg\@md) :is(.cdr-checkbox__svg-box, .cbx__svg) svg {
    width: 2rem;
    height: 2rem;
    left: 0;
    top: -1.7rem;
  }
}

@media (--cdr-lg) {
  :is(.cdr-label-wrapper--small\@lg, .lblw--sm\@lg) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.4rem;
    line-height: 1.8rem;
    padding-left: calc(
      var(--cdr-form-figure-size-small) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--small\@lg, .lblw--sm\@lg) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-small);
    height: var(--cdr-form-figure-size-small);
  }

  :is(.cdr-label-wrapper--small\@lg, .lblw--sm\@lg) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
    width: calc(var(--cdr-form-figure-size-small) / 4);
    height: calc(var(--cdr-form-figure-size-small) / 4);
  }

  :is(.cdr-label-wrapper--medium\@lg, .lblw--md\@lg) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: calc(
      var(--cdr-form-figure-size-medium) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--medium\@lg, .lblw--md\@lg) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-medium);
    height: var(--cdr-form-figure-size-medium);
  }

  :is(.cdr-label-wrapper--medium\@lg, .lblw--md\@lg) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after {
    width: calc(var(--cdr-form-figure-size-medium) / 4);
    height: calc(var(--cdr-form-figure-size-medium) / 4);
  }

  :is(.cdr-label-wrapper--large\@lg, .lblw--lg\@lg) {
    font-family: var(
      --cdr-font-family-sans,
      Graphik,
      "Graphik fallback",
      "Helvetica Neue",
      sans-serif
    );
    font-style: normal;
    font-weight: 400;
    letter-spacing: -0.016rem;
    font-size: 1.6rem;
    line-height: 2.2rem;
    padding-left: calc(
      var(--cdr-form-figure-size-large) + var(--cdr-space-one-x)
    );
  }

  :is(.cdr-label-wrapper--large\@lg, .lblw--lg\@lg) > :is(.cdr-label-wrapper__figure, .lblw__fig) {
    width: var(--cdr-form-figure-size-large);
    height: var(--cdr-form-figure-size-large);
  }

  :is(.cdr-label-wrapper--large\@lg, .lblw--lg\@lg) > :is(.cdr-label-wrapper__figure, .lblw__fig)::after,
  :is(.cdr-label-wrapper--large\@lg, .lblw--lg\@lg)
    > :is(.cdr-label-wrapper__figure, .lblw__fig)
    :is(.cdr-checkbox__checkbox-box, .cbx__box) {
    width: calc(var(--cdr-form-figure-size-large) / 4);
    height: calc(var(--cdr-form-figure-size-large) / 4);
  }

  :is(.cdr-label-wrapper--large\@lg, .lblw--lg\@lg) :is(.cdr-checkbox__checkbox-box, .cbx__box) {
    width: 2rem;
    height: 2rem;
  }

  :is(.cdr-label-wrapper--large\@lg, .lblw--lg\@lg) :is(.cdr-checkbox__svg-box, .cbx__svg) svg {
    width: 2rem;
    height: 2rem;
    left: 0;
    top: -1.7rem;
  }
}
