:is(.cdr-link, .lnk) {
  font-family: var(--cdr-link-font-family, inherit);
  font-size: var(--cdr-link-font-size, inherit);
  line-height: var(--cdr-link-line-height, inherit);
  align-items: var(--cdr-link-align-items, center);
  background-color: var(--cdr-link-background-color, transparent);
  border: var(--cdr-link-border, 0);
  margin: var(--cdr-link-margin, 0);
  cursor: var(--cdr-link-cursor, pointer);
  display: var(--cdr-link-display, inline-flex);
  outline: var(--cdr-link-outline, none);
  padding: var(--cdr-link-padding, 0);
  vertical-align: var(--cdr-link-vertical-align, top);
  color: var(--cdr-link-text-color, var(--cdr-color-text-link-rest));
  fill: var(--cdr-link-fill-color, var(--cdr-color-text-link-rest));
  text-decoration: var(--cdr-link-text-decoration, underline);
}

:is(.cdr-link, .lnk):active,
:is(.cdr-link, .lnk):focus {
  color: var(
    --cdr-link-active-text-color-active,
    var(--cdr-color-text-link-active)
  );
}

:is(.cdr-link, .lnk):hover {
  color: var(--cdr-link-text-color-hover, var(--cdr-color-text-link-hover));
  text-decoration: var(--cdr-link-text-decoration-hover, none);
}

:is(.cdr-link, .lnk):focus {
  outline: var(--default-outline, 0.2rem solid Highlight);
  outline-color: -webkit-focus-ring-color;
  outline-offset: 0;
}

:is(.cdr-link--standalone, .lnk--solo) {
  --cdr-link-text-decoration: none;
  --cdr-link-text-decoration-hover: underline;
}

:is(.cdr-link--inherit-color, .lnk--ic) {
  color: inherit !important;
  fill: inherit !important;
  --cdr-link-text-color: inherit;
  --cdr-link-fill-color: inherit;
  --cdr-link-text-color-hover: inherit;
  --cdr-link-active-text-color-active: inherit;
}

:is(.cdr-link--neutral, .lnk--neu) {
  --cdr-link-text-color: var(--cdr-color-text-primary);
  --cdr-link-text-color-hover: var(--cdr-color-text-primary);
  --cdr-link-active-text-color-active: var(--cdr-color-text-primary);
}
