:is(.cdr-list, .lst) {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

:is(.cdr-list, .lst) > li + li {
  margin-top: var(--cdr-space-half-x);
}

:is(.cdr-list, .lst) li > :is(.cdr-list, .lst) {
  margin-top: var(--cdr-space-half-x);
  padding-left: 1em;
  list-style-type: none;
}

:is(.cdr-list--compact, .lst--cmp) > li + li {
  margin-top: var(--cdr-space-quarter-x);
}

:is(.cdr-list--compact, .lst--cmp) li > :is(.cdr-list, .lst) {
  margin-top: var(--cdr-space-quarter-x);
}

:is(.cdr-list--ordered, .lst--ord) {
  list-style-type: decimal;
  padding-left: 1.5em;
  list-style-position: outside;
}

:is(.cdr-list--ordered, .lst--ord) li {
  padding: 0 0 0 var(--cdr-space-quarter-x);
}

:is(.cdr-list--ordered, .lst--ord) li > :is(.cdr-list, .lst) {
  position: relative;
  padding-left: 1em;
}

:is(.cdr-list--ordered, .lst--ord) li > :is(.cdr-list, .lst) > li {
  padding-left: 0;
}

:is(.cdr-list--ordered, .lst--ord) li > :is(.cdr-list, .lst) > li::before {
  content: '\2013';
  position: absolute;
  color: var(
    --cdr-list-ordered-nested-prefix-color,
    var(--cdr-color-text-secondary)
  );
  left: 0;
}

:is(.cdr-list--unordered, .lst--unord) {
  position: relative;
  padding-left: 1em;
}

:is(.cdr-list--unordered, .lst--unord) > li::before {
  content: '\2022';
  position: relative;
  margin-left: -1em;
  padding-right: var(--cdr-space-half-x);
  color: var(
    --cdr-list-unordered-prefix-color,
    var(--cdr-color-text-secondary)
  );
}

:is(.cdr-list--unordered, .lst--unord) li > :is(.cdr-list, .lst) {
  position: relative;
  padding-left: 1em;
}

:is(.cdr-list--unordered, .lst--unord) li > :is(.cdr-list, .lst) > li::before {
  content: '\2013';
  position: relative;
  margin-left: -1em;
  padding-right: var(--cdr-space-half-x);
  color: var(
    --cdr-list-unordered-nested-prefix-color,
    var(--cdr-color-text-secondary)
  );
}

:is(.cdr-list--inline, .lst--inl) {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  padding-left: 0;
}

:is(.cdr-list--inline, .lst--inl) > li {
  display: block;
}

:is(.cdr-list--inline, .lst--inl) > li + li {
  margin-top: 0;
  padding-left: 1em;
}

:is(.cdr-list--inline, .lst--inl):is(.cdr-list--compact, .lst--cmp) > li + li {
  padding-left: 0.5em;
}

:is(.cdr-list--inline, .lst--inl):is(.cdr-list--unordered, .lst--unord) {
  left: 0;
}

:is(.cdr-list--inline, .lst--inl):is(.cdr-list--unordered, .lst--unord) > li {
  position: relative;
}

:is(.cdr-list--inline, .lst--inl):is(.cdr-list--unordered, .lst--unord)
  > li
  + li {
  padding-left: 1.5em;
}

:is(.cdr-list--inline, .lst--inl):is(.cdr-list--unordered, .lst--unord)
  > li:first-of-type::before {
  display: none;
}

:is(.cdr-list--inline, .lst--inl):is(.cdr-list--unordered, .lst--unord)
  > li::before {
  content: '\2022';
  color: var(--cdr-list-inline-text-color, var(--cdr-color-text-secondary));
  display: block;
  position: absolute;
  top: 50%;
  transform: translate(150%, -50%);
  height: 6px;
  width: 6px;
  line-height: 6px;
  left: 0;
  padding: 0;
  margin: 0;
}

:is(.cdr-list--inline, .lst--inl):is(.cdr-list--unordered, .lst--unord):is(
    .cdr-list--compact,
    .lst--cmp
  )
  > li
  + li {
  padding-left: 1em;
}

:is(.cdr-list--inline, .lst--inl):is(.cdr-list--unordered, .lst--unord):is(
    .cdr-list--compact,
    .lst--cmp
  )
  > li
  + li::before {
  transform: translate(100%, -50%);
}
