@import '../../../../tokens/src/breakpoints.css';

:is(.cdr-quote, .qt) {
  margin: 0;
  padding: var(--cdr-space-inset-one-x-stretch);
  line-height: 1;
}

:is(.cdr-quote, .qt) cite,
:is(.cdr-quote__citation, .qt__cite) {
  font-family: var(
    --cdr-text-utility-sans-100-family,
    var(--cdr-font-family-sans)
  );
  font-style: var(--cdr-text-utility-sans-100-style, normal);
  font-weight: var(--cdr-text-utility-sans-100-weight, 400);
  letter-spacing: var(--cdr-text-utility-sans-100-spacing, -0.008rem);
  font-size: var(--cdr-text-utility-sans-100-size, 1.2rem);
  line-height: var(--cdr-text-utility-sans-100-height, 1.6rem);
  color: var(--cdr-quote-cite-text-color, var(--cdr-color-text-secondary));
  display: block;
}

:is(.cdr-quote__summary, .qt__sum) {
  font-family: var(--cdr-font-family-serif);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 3.6rem;
  letter-spacing: -0.08rem;
  color: var(--cdr-quote-content-text-color, var(--cdr-color-text-primary));
  margin: 0;
}

@media (--cdr-xs) {
  :is(.cdr-quote__summary, .qt__sum) {
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}

:is(.cdr-quote__summary, .qt__sum) + cite,
:is(.cdr-quote__summary, .qt__sum) + :is(.cdr-quote__citation, .qt__cite) {
  padding-top: var(--cdr-space-one-x);
}

:is(.cdr-quote--pull, .qt--pull) {
  border-style: solid;
  border-color: var(
    --cdr-quote-pull-container-border-color,
    var(--cdr-color-border-primary)
  );
  border-width: 0 0 0.1rem;
  padding: var(--cdr-space-inset-one-x-stretch);
  margin: 0 0 var(--cdr-space-one-x);
}

@media (--cdr-sm-up) {
  :is(.cdr-quote--pull, .qt--pull) {
    border-width: 0 0 0 0.1rem;
    padding: var(--cdr-space-half-x) var(--cdr-space-one-x)
      var(--cdr-space-half-x) var(--cdr-space-two-x);
    margin: var(--cdr-space-one-x) 0;
  }
}

:is(.cdr-quote--pull, .qt--pull) :is(.cdr-quote__summary, .qt__sum) {
  font-weight: 600;
}
