@import '../../../../tokens/src/breakpoints.css';

:is(.cdr-split-surface, .split) {
  width: 100%;
  line-height: 0;
}

:is(.cdr-split-surface--top, .split--top) {
  background: linear-gradient(
    var(
        --cdr-split-surface-surface-color,
        var(--cdr-color-background-primary)
      )
      0 50%,
    transparent 50% 100%
  );
}

:is(.cdr-split-surface--bottom, .split--bot) {
  background: linear-gradient(
    transparent 0 50%,
    var(
        --cdr-split-surface-surface-color,
        var(--cdr-color-background-primary)
      )
      50% 100%
  );
}

:is(.cdr-split-surface__top, .split__top),
:is(.cdr-split-surface__bottom, .split__bot) {
  padding: 0 var(--cdr-space-four-x);
}

@media (--cdr-md) {
  :is(.cdr-split-surface__top, .split__top),
  :is(.cdr-split-surface__bottom, .split__bot) {
    padding: 0 var(--cdr-space-three-x);
  }
}

@media (--cdr-sm) {
  :is(.cdr-split-surface__top, .split__top),
  :is(.cdr-split-surface__bottom, .split__bot) {
    padding: 0 var(--cdr-space-two-x);
  }
}

@media (--cdr-xs) {
  :is(.cdr-split-surface__top, .split__top),
  :is(.cdr-split-surface__bottom, .split__bot) {
    padding: 0 var(--cdr-space-one-x);
  }
}
