<div
  class="c1-story-grid c1-story-cols-3 c1-story-gap-16"
>
  <div
    class="c1-story-border-primary c1-story-pad-16 c1-story-container-inline"
  >
    <h3 class="cdr-title">Atomic title</h3>
    <p class="cdr-abstract">Short abstract copy.</p>
  </div>
  <div
    class="c1-story-border-primary c1-story-pad-16 c1-story-container-inline"
  >
    <h3 class="cdr-title">Atomic title with a longer headline</h3>
    <p class="cdr-abstract">Short abstract copy.</p>
  </div>
  <div
    class="c1-story-border-primary c1-story-pad-16 c1-story-container-inline"
  >
    <h3 class="cdr-title">Atomic title</h3>
    <p class="cdr-abstract">Short abstract copy.</p>
  </div>
</div>
