<div class="c1-story-bg-sand c1-story-pad-24">
  <div
    class="cdr-split-surface cdr-split-surface--top"
    class="c1-story-split-surface-white"
  >
    <div class="cdr-split-surface__top">
      <img
        class="cdr-image cdr-image--ratio-16-9 cdr-image--fit-cover"
        src="https://cedar.rei.com/rei-passage-2-tent.jpg"
        alt="A person in a tent"
      />
    </div>
    <div class="cdr-split-surface__bottom">
      <div class="c1-story-pad-y-24">
        <h2 class="cdr-heading-display cdr-heading-display--scale-4">
          A life outdoors is a life well lived
        </h2>
      </div>
    </div>
  </div>
</div>
